[2022-03-28 17:07] angelik0828 opened #1 "General Section Review Partners Page 1-6"
Explanation:

To carry out the general review of the pages in the `Partners` views, the following must be taken into account: a site was made based on an existing one, with the intention of migrating that WordPress site to React.js, you should consult with the [original site] (http://spgatsbystg.wpengine.com/), considering the list. For the review of these pages, the header and footer will not be

[2022-03-28 17:55] angelik0828 opened #2 "Revisión de general sección Partners pagina 7-"
Para realizar la revisión general de las paginas en las vistas de `Partners`, debe tener en cuenta lo siguiente: se realizo un sitio basado en uno ya existente, con la intención de migrar ese sitio desde WordPress a React.js, se debe hacer verificación con el [sitio original](http://spgatsbystg.wpengine.com/), teniendo en cuenta el listado. Para la revisión de estas paginas no se tendrá en cuenta

[2022-03-28 17:58] angelik0828 opened #3 "Revisión de general sección Partners pagina 13-"
Para realizar la revisión general de las paginas en las vistas de `Partners`, debe tener en cuenta lo siguiente: se realizo un sitio basado en uno ya existente, con la intención de migrar ese sitio desde WordPress a React.js, se debe hacer verificación con el [sitio original](http://spgatsbystg.wpengine.com/), teniendo en cuenta el listado. Para la revisión de estas paginas no se tendrá en cuenta

[2022-03-28 18:11] angelik0828 opened #4 "Review Of The General Section Partners Page 19-24"
Explanation:

To carry out the general review of the pages in the `Partners` views, the following must be taken into account: a site was made based on an existing one, with the intention of migrating that WordPress site to React.js, it must be you can check with the [original site] (http://spgatsbystg.wpengine.com/), considering the list. For the review of these pages, the header and footer will n

[2022-03-28 18:15] angelik0828 opened #5 "Revisión de general sección Partners pagina 25"
Para realizar la revisión general de las paginas en las vistas de `Partners`, debe tener en cuenta lo siguiente: se realizo un sitio basado en uno ya existente, con la intención de migrar ese sitio desde WordPress a React.js, se debe hacer verificación con el [sitio original](http://spgatsbystg.wpengine.com/), teniendo en cuenta el listado. Para la revisión de estas paginas no se tendrá en cuenta

[2022-03-28 18:20] angelik0828 opened #6 "Review Of The General Section Partners Page 31-36"
To carry out the general review of the pages in the `Partners` views, the following must be taken into account: a site was made based on an existing one, with the intention of migrating that WordPress site to React.js, it must be you can check with the [original site] (http://spgatsbystg.wpengine.com/), considering the list. For the review of these pages, the header and footer will not be taken in

[2022-03-28 19:39] Katsu08 commented on #1
Paragraph original:
![image](https://user-images.githubusercontent.com/66505715/160473816-a0baa196-ca72-47f1-a875-9f0d177c95ee.png)

Paragraph in Gatsby:
![image](https://user-images.githubusercontent.com/66505715/160473831-e4a788ff-c90e-4232-bf70-1bc86a997ae4.png)

I already have fixed this error

[2022-03-28 19:40] Katsu08 opened #7 "Fix paragraph text in Partners View"
Paragraph have a typo in gatsby site, they say "youd" instead of "you'd"

Paragraph original:
![image](https://user-images.githubusercontent.com/66505715/160473831-e4a788ff-c90e-4232-bf70-1bc86a997ae4.png)

Paragraph in Gatsby:
![image](https://user-images.githubusercontent.com/66505715/160473816-a0baa196-ca72-47f1-a875-9f0d177c95ee.png)

[2022-03-28 19:43] heliomar-pena commented on #7
I've fixed this error

[2022-03-28 19:43] #7 closed

[2022-03-28 19:48] Katsu08 opened #8 "Membership Cards Have A Lot Of Separation Between The Title And The Subtitle."
### Explanation:

In [Partner View](https://wwwsimplepracticegatsbystaging.gatsbyjs.io/partners/), in the section: "Help your network to be the best version of themselves (business)" there are some cards that have a title and a description. . I have noticed that the space between the title and the description is too large and needs to be corrected. I have also noticed that the image does not take

[2022-03-28 19:56] Katsu08 opened #9 "Partners articles have so much space between description and image (914x709)"
### Explanation
In [Partners view ](https://wwwsimplepracticegatsbystaging.gatsbyjs.io/partners/), at the section: "Helping Practitioners in your Network" they're some articles that have title, description and image. I've notice that the space between description and image is so much and need to be fixed. Too I've notice that the image is not occupying 100% of the width, exist a border-right that

[2022-03-28 20:19] angelik0828 opened #10 "Review Of The general Section Partners page 36-38"
To carry out the general review of the pages in the Partner views, the following must be taken into account: a site was made based on an existing one, with the intention of migrating that WordPress site to React.js, it must be verified with the original site, taking into account the listing. For the review of these pages, the header and footer will not be taken into account, since these components

[2022-03-28 21:06] angelik0828 opened #11 "Review Of General Section Features Page 1-6"
URL's of the page:

[WordPress Site](https://spgatsbystg.wpengine.com/)
[Site in ReactJs](https://wwwsimplepracticegatsbystaging.gatsbyjs.io/)

- [ ] Review of color and typography of texts.
- [ ] Shadows review.
- [ ] Review forms.
- [ ] Text sizes.
- [ ] Image sizes.
- [ ] Review of different screen sizes, Sizes: 320X538, 375X538, 425X538, 768X538, 1024X538, 1440X538.
- [ ]  The page we are maki

[2022-03-28 21:34] angelik0828 opened #12 "Partners: Smaller Image Size, Change From Image To Video"
Explanation:

When viewing this section the size of the image is smaller, in addition to this it should be a video, I had already been reported before (I am pending).

**Screenshot**
![image](https://user-images.githubusercontent.com/4030477/160490318-1e8892f5-67a4-4629-93da-134b0175c02b.png)
![image](https://user-images.githubusercontent.com/4030477/160490350-a419c271-afac-4d09-9d86-25fc28818225.

[2022-03-29 15:33] angelik0828 opened #13 "Misaligned Text - Home"
### Explanation:
On the main page, the text in the blue section is misaligned at this resolution.

*Screen size:* (768X532 )

### Screenshots:

Original: (![image](https://user-images.githubusercontent.com/4030477/160648161-65525204-a800-45d6-a5a8-24fe6bc263a6.png))
Our: (![image](https://user-images.githubusercontent.com/4030477/160647864-1c9b88f6-7edf-451e-b71d-1f891727514d.png))

### Checklist

[2022-03-29 20:31] angelik0828 opened #14 "Missing Percentage Chart - Home"
### Explanation:

Missing percentage box.

*Screen size:* (in all resolutions )

### Screenshots:

Original: (![image](https://user-images.githubusercontent.com/4030477/160701192-0d4b37a4-29df-4a96-8771-4e8c9466d517.png))
Our: (![image](https://user-images.githubusercontent.com/4030477/160701145-33bf3b54-a1ff-4467-aa9a-92d9053ae494.png))

### References:

Original: http://spgatsbystg.wpengine.com/

[2022-03-29 21:20] angelik0828 opened #15 "Unwrapped Text -Home"
### Explanation:

In the blue bar, where the stars are on the different screens, the text is not organized.

*Screen size:* (320X532 , 375X532, 768X532,  )

### Screenshots

Original:
![image](https://user-images.githubusercontent.com/4030477/160705879-0888eb8a-fed1-4caf-8536-8cb1cfcfebbc.png)
![image](https://user-images.githubusercontent.com/4030477/160706611-c8050448-c376-45f5-9cfd-f4602122b717

[2022-03-30 15:54] angelik0828 opened #16 "Scroll More Card - Features /Updates"
### Explanation:

At the top of the page between the blue and white section, Scroll More card on this icon is not the same color and size as the original, the icon is not aligned with the text.

*Screen size:* (all resolutions )

### Screenshots

Original: ![image](https://user-images.githubusercontent.com/4030477/160871677-3f573e44-e7e1-411c-929e-b5f901912c98.png)
![image](https://user-images.git

[2022-03-30 16:10] angelik0828 opened #17 "Space Between Text And Arrow Out Of Place - Features/Updates"
### Explanation:

Check the line spacing in the paragraph, the first line is not the same as the rest, also the arrow in front of the word "learn more" is not in place.

*Screen size:* (All resolutions ).

### Screenshots

Original:
![image](https://user-images.githubusercontent.com/4030477/160880201-6c625b76-e5cc-4b9a-b2da-5d0c71101d79.png)

Our:
![image](https://user-images.githubusercontent.com

[2022-03-30 16:58] angelik0828 opened #18 "Change The Color Of The Text Below The Image - Features"
### Explanation:

The color of the text under the image is not the same color as the original.

*Screen size:* (All resolutions ).

### Screenshots

Original: ![image](https://user-images.githubusercontent.com/4030477/160889057-05a39fc3-4bd9-4ce8-af2c-82408a396b53.png)
Our:
![image](https://user-images.githubusercontent.com/4030477/160889184-2ede5b9e-6cd1-485b-8f18-caa7668eb1e4.png)

### Checklist

[2022-03-30 18:52] heliomar-pena commented on #16
I'm working that task in pull request 391

[2022-03-30 20:47] heliomar-pena commented on #16
Please help me to check this in this link

Our: https://wwwsimplepracticegatsbystaging-fixscrollmorecardstyles.gtsb.io/features/updates/

Test: http://spgatsbystg.wpengine.com/features/updates/

[2022-03-30 21:48] heliomar-pena commented on #17
I'm working in this issue

[2022-03-31 00:19] Ricardo-Gomez1 opened #19 "Cropped Image Fix- Features"
### Explanation:

Image appears cropped at bottom at all sizes, needs to be corrected.

*Screen size:* All sizes.

### Screenshots:

**Original:**

![image](https://user-images.githubusercontent.com/101886534/160951107-1e6df5b4-f6d9-424e-9cfc-8d3d11d373cb.png)

**Our:**

![image](https://user-images.githubusercontent.com/101886534/160951250-6ce866be-39ec-466e-be31-11ab9020cc41.png)

### Checklist

[2022-03-31 12:37] Ricardo-Gomez1 opened #20 "Arreglar tamaño de imagen recortada"
### Explanation
La imagen que se muestra mas abajo se ve recortada en la nueva versión, se debe arreglar en todas los tamaños.

*Screen size:* (Todas las resoluciones )

### Screenshots

Original:

![image](https://user-images.githubusercontent.com/101886534/161055765-b5c534d3-b310-4771-b663-3e8394d5329d.png)

Our:

![image](https://user-images.githubusercontent.com/101886534/161055672-a26469b0-ae

[2022-03-31 12:47] Ricardo-Gomez1 opened #21 "Correción imagen recortada"
### Explanation
La imagen se ve recortada y no se observan algunos beneficios, como se observa en los screenshots abajo mostrados.

*Screen size:* (Todas las resoluciones)

### Screenshots

Original:

![image](https://user-images.githubusercontent.com/101886534/161057160-0bbdac07-d791-414f-965f-a719662d7df5.png)

Our:

![image](https://user-images.githubusercontent.com/101886534/161057028-3a906f1f

[2022-03-31 13:12] heliomar-pena commented on #19
Thanks for the help!

[2022-03-31 14:42] #21 closed

[2022-03-31 14:58] Katsu08 opened #22 "Crear una manera de tener siempre actualizados los pull requests en un repositorio"
## Explicación

Como desarrolladores un problema común es que nuestra rama quede atrás en la historia comparado con la rama principal, este problema no parece grave, excepto cuando nos da conflictos, pero colaboramos junto con Q.A's es posible que se sientan confundidos al ver que un problema que ya se había solucionado está de nuevo en un nuevo pull requests.

## Propuesta de solución

Estaba con

[2022-03-31 16:20] angelik0828 opened #23 "Smaller image - wn-taxt-report resolutions 501X538"
### Explanation

**Actual result:**

the image is 2 pixels smaller

**Expected result:**

the image in this resolution should be 2 px larger

*Screen size:* (501X538)

### Screenshots

Original:
![image](https://user-images.githubusercontent.com/4030477/161115086-cacc2cba-1b6d-418e-a655-7c04bbe75bbc.png)
Our:
![image](https://user-images.githubusercontent.com/4030477/161115291-ab218b9b-4972-4b60-a

[2022-03-31 18:01] angelik0828 opened #24 "Remove gray line - wn-changing-our-plans-and-prices"
### Explanation:

**Actual result:**
A gray line appears under the title when there is no image.

**Expected result:**
There should be no line under the title.

*Screen size:* (all resolutions).

### Screenshots

Original:
![image](https://user-images.githubusercontent.com/4030477/161117033-3987e078-35b4-48f5-bf81-b2a93a41c9da.png)

Our:
![image](https://user-images.githubusercontent.com/4030477/1

[2022-03-31 18:17] denisosuna commented on #14
Fixed in:
https://github.com/simplepractice/www-simplepractice-gatsby/pull/new/fix/home-practitioner-satisfaction-div

[2022-03-31 18:24] arodriguezl9302 commented on #18
I would like to be assigned to this task  @Katsu08

[2022-03-31 18:27] angelik0828 opened #25 "Image Size - wn-Virtual-Backgrounds-For-Telehealth"
### Explanation
**Actual result:**
the image is larger than the original

**Expected result:**
the image must measure 736X631

*Screen size:* (1440X827)

### Screenshots
(Add screenshots to help explain where's and which is the bug.)

Original:
![image](https://user-images.githubusercontent.com/4030477/161123662-2c4054e1-b1e4-4158-9618-92ab0e5e9996.png)

Our:
![image](https://user-images.githubuse

[2022-03-31 18:29] arodriguezl9302 commented on #15
I would like to be assigned to this task @Katsu08

[2022-03-31 19:31] denisosuna commented on #13
fixed in https://github.com/simplepractice/www-simplepractice-gatsby/pull/new/fix/capterra-banner--text-in-responsive

[2022-03-31 21:13] Ricardo-Gomez1 opened #26 "Add Banner To New Version - Features"
### Explanation:

In the WordPress version there is a landing that leads to a link that is not seen in the new version, you have to add it so that it looks exactly the same, I attach screenshots below along with the measurements in the image.

*Screen size:* (all views).

### Screenshots

Original:

![image](https://user-images.githubusercontent.com/101886534/161150152-d5e3e08d-f70e-483f-9110-ae01

[2022-04-04 14:04] Ricardo-Gomez1 opened #27 "Fix CTA Button Link - Review Partners"
### Explanation:

In the new version, clicking the button doesn't take you to the page it should take, if you don't get an error, the destination url needs to be fixed.

*Screen size:* (All views )

### Screenshots:

On this screen, the **Start My Free Trial** button is not working properly as it redirects the user to an error.

![image](https://user-images.githubusercontent.com/101886534/16156062

[2022-04-04 15:29] Ricardo-Gomez1 opened #28 "Fix Button Text - Review Partners"
Explanation:

It is observed that the button has a different text from the original.

*Screen size:* (All views )

### Screenshots:

Original: The button text is **Get 2 months free**

![image](https://user-images.githubusercontent.com/101886534/161575600-8fa785b6-683c-49b1-bd79-da82b7c49115.png)

OurThe button text is **Get 2 months free**

![image](https://user-images.githubusercontent.com/10188

[2022-04-04 16:16] heliomar-pena commented on #28
Good work! Thanks

[2022-04-04 17:15] Ricardo-Gomez1 opened #29 "Review and Fix Disruptot Destination URL Error - Review Partners"
Explanation:

When loading the Disruptot URL an error is generated and it does not allow the user to continue, you have to validate what is happening, in the original version it loads well

*Screen size:* (All views)

Original:

![image](https://user-images.githubusercontent.com/101886534/161596485-e8359788-0772-4be7-95e2-7f9e2620eb31.png)

Our:

![image](https://user-images.githubusercontent.com/

[2022-04-04 19:10] heliomar-pena commented on #18
I've worked this task

[2022-04-04 19:12] heliomar-pena commented on #17
I've worked in this issue
Compare: https://wwwsimplepracticegatsbystaging-fixfeaturestemplatemainpage.gtsb.io/features/
With: https://spgatsbystg.wpengine.com/features/

[2022-04-04 19:12] heliomar-pena commented on #18
I've worked in this issue
Compare: https://wwwsimplepracticegatsbystaging-fixfeaturestemplatemainpage.gtsb.io/features/
With: https://spgatsbystg.wpengine.com/features/

[2022-04-05 21:31] angelik0828 commented on #16
Revised, it is already corrected!!

[2022-04-05 21:33] #16 closed

[2022-04-05 21:37] angelik0828 commented on #17
revised, it is already corrected!

[2022-04-05 21:37] #17 closed

[2022-04-06 20:27] Katsu08 opened #30 "Añadir rutas de la aplicación Tazkie"
## Explanation

Como usuario quiero poder navegar por las diferentes rutas de la página web, aunque no se hayan desarrollado aún me gustaría ver aunquesea un texto en estas rutas, solo para simular la navegación.

## Checklist

- [ ] Existen rutas para las páginas:
    - [ ] Landing page
        - [ ] Login
        - [ ] Register
    - [ ] Lista de proyectos
        - [ ] Lista de tareas

[2022-04-06 20:32] #30 closed

[2022-04-07 10:29] angelik0828 commented on #18
Resolved!!

[2022-04-07 10:29] #18 closed

[2022-04-07 11:36] angelik0828 opened #31 "Larger margin, between text and image - features-online-booking"
### Explanation
there a space between the image and the text to the largest of what it should be

**Actual result:**
Larger space between image and text

**Expected result:**
the space should look smaller

*Screen size:* (1024X529 from now on )

### Screenshots
Original:
![image](https://user-images.githubusercontent.com/4030477/162189577-04428b80-fc80-429f-ab27-46b5e7a0f8e3.png)

Our:
![image](ht

[2022-04-12 20:03] angelik0828 opened #32 "Monarch view form"
### Explanation
**Actual result:**
in monarch view, when entering the form in the password text field, the eye is not there to see what characters I just typed

**Expected result:**
in the co password text field, the eye should be in the password field.

*Screen size:* (All Screen )

### Screenshots

Original:
![image](https://user-images.githubusercontent.com/4030477/163027372-94d2b6f4-5c73-4f2b-

[2022-04-12 20:09] angelik0828 commented on #32
fixed!! @Katsu08  thank´s!!

[2022-04-12 20:09] #32 closed

[2022-04-12 20:14] angelik0828 opened #33 "Monarch view space"
### Explanation

**Actual result:**
in the form, the button to continue with the data has a very large space

**Expected result:**

the space between the button and the form should be proportional and smaller

*Screen size:* (Add the size of your screen )

### Screenshots

Original:
![image](https://user-images.githubusercontent.com/4030477/163045576-9ab2a3b2-9a98-4c54-a07e-f68a6ee5981d.png)

Our:

[2022-04-12 20:23] angelik0828 opened #34 "Monarch form - validation text field"
### Explanation
(A clear and concise explication about the task.)

**Actual result:**
in the monarch form, when i leave the password field empty, it is not red

1.complete the fields
2. Leave the password field empty.

**Expected result:**

leaving the password field empty should be red to indicate that something is missing

*Screen size:* (all screen )

### Screenshots

Original:
![image](https:/

[2022-04-13 16:15] anaPiris opened #35 "Dar click en logo "simplepractice" y que actualice página principal"
### Explanation
(Clicking on the "simplepractice" logo does not refresh or reload the page).

**Actual result:** (click on the "simplepractice" logo, the letter changes to dimmer, but it does not reload or refresh the main page)

**Expected result:** (that when clicking on the "simplepractice" logo, the letter changes to a lighter one, and reloads or refreshes the main page)

*Screen size:* (1920x

[2022-04-13 16:25] roberto-97c opened #36 "valor del relleno"
### Explicación
(El valor inferior del relleno H2 no coincide con el sitio heredado)

**resultado real:** (Los h2s no tienen un valor para padding-bottom)

**resultado esperado:** (Los h2s tienen un valor inferior de relleno de 8px)

*tamaño de pantalla:* (1366x768)

### Capturas de pantalla
original: (
![image](https://user-images.githubusercontent.com/103531307/163265894-28a107ad-0a32-4fc8-81ad-

[2022-04-13 20:36] roberto-97c commented on #36
fix redirect error.

[2022-04-18 17:22] heliomar-pena commented on #35
I've checked and it's working correctly. Maybe it's a internet problem...

![lastscreenshot](https://user-images.githubusercontent.com/66505715/163846912-58bb6a06-92b3-4f3c-ae74-ccf278ed805e.png)

@angelik0828 can you check please if when you clicks in simplepractice logo they do what we expect?

[2022-04-18 20:19] heliomar-pena commented on #33
This is fixed. Can you check please the links provided?

[2022-04-19 20:06] roberto-97c opened #37 "spaces more than expected between each star - Partners"
### Explanation
the original image is compared with ours and it is observed that the space of the stars is not what was expected.
**Actual result:** there is a lot of space between each star.
**Expected result:** there should be the expected space between each star as seen in the original image.
*Screen size:* (1366 x 768 )
### Screenshots

Original: (
![image](https://user-images.githubuserconten

[2022-04-19 21:39] angelik0828 opened #38 "Space between carrosel and title - Partners"
### Explanation
when entering the page, lowering the page there is a very large space between the existing title and the carousel of images

**Actual result:**
too much space between title and carousel images

**Expected result:**
there should be a reduced space between the carousel and the title

*Screen size:* ( all resolutions)

### Screenshots

Original:
![image](https://user-images.githubuser

[2022-04-19 21:41] angelik0828 commented on #33
fixed!!!

[2022-04-19 21:41] #33 closed

[2022-04-20 03:00] anaPiris opened #39 "Faltan lineas separadoras en Template Library(Progress Notes)"
### Explanation
(when entering SimplePractice/feature/Documentation) and clicking on "Template Library", the lines in the large box and in the smaller one attached are not the same as in the original.

**Actual result:**
 (when you open the box: Progress Notes: the line below "Acupuncture SOAP note" and the line under "Articulation Goal Tracker" are missing, also missing the first line in the smal

[2022-04-20 08:08] Israel-Laguan commented on #39
@anaPiris Please include a checklist

@Katsu08 please confirm, as I entered and the lines are there (they indeed are faint, but are present), maybe it's just a problem with the @anaPiris 's display monitor

In any case at the end of the day, this issue maybe is the client's fault as the image is taken from them, so no action from our side.

[2022-04-20 15:30] roberto-97c opened #40 "spaces between title and text - creative-therapy-umbrella"
### Explanation
(the space between title and text is not as expected.)

**Actual result:** (there is more space between the title and the text.)

**Expected result:** (that there is adequate space between title and text.)

*Screen size:* (1366 x 768)

### Screenshots
imagen 1
Original: (
![image](https://user-images.githubusercontent.com/103531307/164265424-ae015cf5-d41e-425f-8461-811b9f3f19ee.png

[2022-04-20 17:54] angelik0828 opened #41 "image size is not correct - Partners - Mentally fit"
### Explanation
the image size looks different from the original

**Actual result:**  the image size looks different from the original

**Expected result:** I want to see the image of the correct size and margin

*Screen size:* (the size varies only by 1024 )

### Screenshots

Original:
![image](https://user-images.githubusercontent.com/4030477/164291698-2494c302-510f-4f30-9353-92d7298222ca.png)

[2022-04-20 18:02] angelik0828 opened #42 "The Web Container s Not Taking Up 100% - Mentally Fit"
### Explanation:

The web container is not taking up 100% in the smallest resolutions.

**Current result:**

 When entering the resolution of 320 the entire application is cut off.

**Expected result:**

 The website must occupy 100% of the current page

*Screen size:*        (320X522, 375X522 )

### Screenshots:

Original:
![image](https://user-images.githubusercontent.com/4030477/164293782-c7868

[2022-04-20 18:19] angelik0828 opened #43 "Space between title and header - On the Air"
### Explanation
when entering you see a gap between the title and the header

**Actual result:** when entering you see a gap between the title and the header

**Expected result:** when entering it must be the correct size

*Screen size:* (All resolutions )

### Screenshots

Original:
![image](https://user-images.githubusercontent.com/4030477/164295539-1489e3c4-562b-4a2d-adcc-dc11cefad1bb.png)
![im

[2022-04-20 18:48] roberto-97c opened #44 "spaces between stars- creative-therapy-umbrella"
### Explanation
(there is more space than expected between the stars.)

**Actual result:** (there is a lot of space between the stars.)

**Expected result:** (the space between the stars must match the original.)

*Screen size:* (1366 x 768)

### Screenshots
imagen 1
Original: (
![image](https://user-images.githubusercontent.com/103531307/164261716-453af6de-947f-43e8-8cf2-e39d121ff4dd.png)
)
Our:

[2022-04-20 20:22] angelik0828 opened #45 "Button text does not correspond - CSHA"
### Explanation
The button text is not correct

**Actual result:** The button text is not correct

**Expected result:** The button should read : get 2 mothns free

*Screen size:* (all resolutions )

### Screenshots

Original:
![image](https://user-images.githubusercontent.com/4030477/164315628-31dffd7d-b191-4794-89b0-587822c5a447.png)

Our:
![image](https://user-images.githubusercontent.com/403047

[2022-04-21 14:42] angelik0828 commented on #45
Fixed!!

[2022-04-21 14:48] angelik0828 commented on #40
This task was already done when it was reported
![image](https://user-images.githubusercontent.com/4030477/164484557-cb04ca48-aef4-4352-b1b2-2c0080d87ba3.png)

[2022-04-21 14:48] #40 closed

[2022-04-21 17:02] roberto-97c opened #46 "margin size is not as expected - speechiesideup"
### Explanation
Our margin does not match the original.

**Actual result:** the margin is 0px 0px 14px

**Expected result:** expected margin is 0px 0px 8px

*Screen size:* 1366 x 768

### Screenshots

Original: (
![image](https://user-images.githubusercontent.com/103531307/164512169-6258ac5e-bde0-494a-a3ee-bee0cd25f569.png)
)
Our: (
![image](https://user-images.githubusercontent.com/103531307/1645

[2022-04-21 18:39] roberto-97c opened #47 "space between title and header - zynnyme"
### Explanation
the value of div.full - width.shorter 640 x 486 is not as expected.

**Actual result:** (value of div.full - width.shorter 640 x 486)

**Expected result:** (value of div.full - width.shorter 640 x 472)

*Screen size:* 1366 x 768

### Screenshots

Original: (
![image](https://user-images.githubusercontent.com/103531307/164530277-6559a6d2-638f-4c11-b09e-b54d03f0dac1.png)
)
Our: (
![i

[2022-04-21 19:27] roberto-97c opened #48 "mistake in the text - cash based"
### Explanation
the button text does not match the original.

**Actual result:** el texto del boton no es el esperado.

**Expected result:** the button text must match the original.

*Screen size:* 1366 x 768

### Screenshots

Original: (
![image](https://user-images.githubusercontent.com/103531307/164537761-40820159-ef17-4577-94b5-124e20ebd416.png)
)
Our: (
![image](https://user-images.githubuser

[2022-04-21 19:59] roberto-97c opened #49 "wrong image size - ny therapy guide"
### Explanation
the size of the image is not as expected.

**Actual result:** image size 592 x 472.11

**Expected result:** image size 592 x 471.75

*Screen size:* (1366 x 768)

### Screenshots

Original:
![image](https://user-images.githubusercontent.com/103531307/164542274-0f367593-e429-4c37-a367-49e12b9cd591.png)

Our:
![image](https://user-images.githubusercontent.com/103531307/164542317-c1ca0

[2022-04-21 20:59] angelik0828 commented on #34
Fixed!!

[2022-04-21 20:59] #34 closed

[2022-04-22 01:00] anaPiris opened #50 "Letter marked in bold in: “Client Communication”"
### Explanation

In “Client Communication” in the box the title “Olive Branch Clinic” the letter is in bold.

  **Actual result: **

The box letter “Olive Branch Clinic” is in bold.

**Expected result: **

That the letter of the box “Olive Branch Clinic” is not in bold.

  *Screen size: *

     For 1440x633 screen

### Screenshots

Original:
![image](https://user-images.githubusercontent.com/66505

[2022-04-22 13:32] roberto-97c opened #51 "bug in the image - AATA"
### Explanation
the size on the image and the margin are not as expected.

**Actual result:** img 207 x 96 - margin 0px 0px 14px.

**Expected result:** img 206.5 x 96 - margin 0px 0px 8px.

*Screen size:* 1366 x 768

### Screenshots
Original: (
![image](https://user-images.githubusercontent.com/103531307/164723809-b7b6c6c8-efac-47c2-88ca-9a1e9fc0f7c8.png)
)
Our: (
![image](https://user-images.gith

[2022-04-22 14:16] heliomar-pena commented on #46
The image element size is the same that the original and it's positioned correctly

![lastscreenshot](https://user-images.githubusercontent.com/66505715/164730000-635cc1a2-0463-4179-85c1-13744635f09a.png)

In this cases where doesn't exist difference visual between the pages is not important if someone have different margin / padding, always that we get the same result

[2022-04-22 14:18] roberto-97c opened #52 "size in the image is not correct - VAND"
### Explanation
the size on the image and the margin are not as expected.

**Actual result:**  img 165 x 96

**Expected result:** img 165.2 x 96

*Screen size:* 1366 x 768

### Screenshots

Original: (
![image](https://user-images.githubusercontent.com/103531307/164730979-ca14c101-af99-44d8-9927-de944be0a9f8.png)
)
Our: (
![image](https://user-images.githubusercontent.com/103531307/164731017-98a4c

[2022-04-22 14:22] heliomar-pena commented on #43
Hello! Thanks for report. I think I don't get the issue or I don't see the difference between :(
![lastscreenshot](https://user-images.githubusercontent.com/66505715/164733552-01885279-f768-4c04-8b1d-6bf949ebfab7.png)

Can you please check if the screenshots / description are correct or if this issue was be fixed?

[2022-04-22 14:39] heliomar-pena commented on #25
Thanks for report! I've checked and the gatsby img wrapper have the same size that the original img

![lastscreenshot](https://user-images.githubusercontent.com/66505715/164736568-a9ac2ae1-b412-4359-87f0-0a8d17ecc310.png)

Can you confirm if the problem still exists please? @angelik0828

[2022-04-22 14:41] heliomar-pena commented on #52
I've added wontfix label since is a difference of less a 1px

[2022-04-22 14:42] heliomar-pena commented on #51
Thanks for report! I've added wontfix since is a <1px issue

[2022-04-22 15:02] heliomar-pena commented on #50
Hi, Leticia!, thanks for help reviewing and reporting.
![lastscreenshot](https://user-images.githubusercontent.com/66505715/164741020-92005f23-b9cf-4a77-a9ca-b378ea92cd75.png)

In this case we can't do anything since it is a graphic resource (an image), and we receive that image from the client, we couldn't do anything to fix that problem

[2022-04-22 16:40] heliomar-pena commented on #8
Done

please compare https://wwwsimplepracticegatsbystaging.gtsb.io/partners/
with https://spgatsbystg.wpengine.com/partners/

@angelik0828

[2022-04-22 19:55] angelik0828 opened #53 "The list of information is not displayed completely - Simplify-practice-sign-up"
### Explanation
when entering this form when displaying the options to choose from are incomplete

**Actual result:** when entering this form when displaying the options to choose from are incomplete

**Expected result:** options should be displayed complete

*Screen size:* (all screen)

### Screenshots

Original:
![image](https://user-images.githubusercontent.com/4030477/164784457-72ddfc2c-a205-4

[2022-04-22 20:19] angelik0828 opened #54 "The background color does not match - simplify-practice-sign-up"
### Explanation
the background color does not match

**Actual result:** the background color is light blue

**Expected result:** the background color should be white

*Screen size:* (All screen  )

### Screenshots

Original:
![image](https://user-images.githubusercontent.com/4030477/164787507-ecd05931-9713-45ad-806f-62f037602ff2.png)

Our:
![image](https://user-images.githubusercontent.com/4030477

[2022-04-22 20:24] angelik0828 opened #55 "The form does not have the title - Simplify-practice-sign-up"
### Explanation
when entering the form it has no title

**Actual result:** when entering the form it has no title

**Expected result:** the form is titled "Begin your free, 30-day trial."

*Screen size:* (All screen)

### Screenshots

Original:
![image](https://user-images.githubusercontent.com/4030477/164788132-fcf423cb-18cd-4feb-84f9-c09a34ebedbb.png)

Our:
![image](https://user-images.githubuse

[2022-04-22 20:32] angelik0828 opened #56 "Incorrect button information and missing text below the button - Simplify-practice-sign-up"
### Explanation
the button text and the text below do not have this format

**Actual result:** the button text and the text below do not have this format

**Expected result:** the button text should be something else and there should be some text below the button

*Screen size:* (all screen )
### Screenshots

Original:
![image](https://user-images.githubusercontent.com/4030477/164788937-d00494f3-6

[2022-04-22 20:38] angelik0828 opened #57 "Check list title in content"
### Explanation
when entering the page the title of the list is not seen

**Actual result:** when entering the page the title of the list is not seen

**Expected result:** The title must be in the content before the list : "Try everything from:"

*Screen size:* (all screen )

### Screenshots

Original:
![image](https://user-images.githubusercontent.com/4030477/164789811-b2a4d835-b43e-4970-9a48-f61

[2022-04-22 21:09] angelik0828 opened #58 "The capcha remains on the entire page below the form fields - Sign-up-v2"
### Explanation
(A clear and concise explication about the task.)

**Actual result:** The capcha appears static on the page even at smaller resolutions

**Expected result:** verify that the capcha is in a place in the form not in the whole page

*Screen size:* (425X522, 375X522, 320X522)

### Screenshots

Original:
![image](https://user-images.githubusercontent.com/4030477/164792911-ca6df1b4-467c-

[2022-04-24 00:13] anaPiris opened #59 "Star Alignment in "Online Appointment Requests""
### Explanation

The stars of "Online Appointment Request" must be attached to the margin as in the original.

  **Actual result: **

Note the stars shifted one space to the right.

**Expected result: **

That the stars are aligned with the rest of the text

  *Screen size: *

1440x633

### Screenshots

original :
https://user-images.githubusercontent.com/74306449/164950246-c83f8d1f-4357-4d4b-a522

[2022-04-24 01:11] anaPiris opened #60 "Box in “Unlimited email support” smaller and cropped"
### Explanation

In “Unlimited email support” the box is smaller and the image is cropped

  **Actual result: **

When you get to “Unlimited email support” the box looks smaller and cropped at the top

**Expected result: **

That when you reach "Unlimited email support" the box looks complete as shown in the original

  *Screen size: *

    1440x633

### Screenshots

  Original:

https://user-imag

[2022-04-24 02:01] anaPiris opened #61 "In “Live chat with specialists” the image is cropped"
### Explanation

In “Live chat with specialists” the size of the image is not the same as the original, so it is cut off at the top and bottom.

  **Actual result: **

When you get to "Live chat with specialists" you can see that the dialogue is cut off at the top and the photo is cut off at the bottom.

**Expected result: **

That when you get to "Live chat with specialists" the dialogue and the

[2022-04-24 02:34] anaPiris opened #62 "Cropped image in “Virtual classes and webinars”"
### Explanation

In "Virtual classes and webinars" the size of the image is not the same as the original, so it is cut off at the bottom.

  **Actual result: **

When you get to "Virtual classes and webinars" you can see that the image is cut off at the bottom.

**Expected result: **

That when you get to "Virtual classes and webinars" the image looks complete as shown in the original.

  *Screen

[2022-04-24 02:59] anaPiris opened #63 "Image size in “Comprehensive support”"
### Explanation

In “Comprehensive support” the size of the image is not equal to the original, so it is cut off at the bottom.

  **Actual result: **

When you get to “Comprehensive support” you can see that the image is cut off at the bottom.

**Expected result: **

That when reaching “Comprehensive support” the image is seen as complete as the original shows.

  *Screen size: *

   1440x633

##

[2022-04-24 12:57] anaPiris opened #64 "Smaller box in “One-on-one video sessions”"
### Explanation

In “One-on-one video sessions” the size of the box is not the same as the original, you can see the difference in resolution for the 576x420 screen where the text has a noticeable separation from the box.

  **Actual result: **

When you get to "One-on-one video sessions" you can see that the box is further apart from the text.

**Expected result: **

That when you get to "One-on-

[2022-04-24 14:15] anaPiris opened #65 "In “Phone support by reservation” cropped image"
### Explanation

In "Phone support by reservation" the size of the box with photos is not the same as the original, you can see a noticeable difference in the cropped photo below.

  **Actual result: **

When you get to “Phone support by reservation” you can see in the box that the photo below is cut off.

**Expected result: **

That when arriving at "Phone support by reservation" the box is seen

[2022-04-24 18:52] anaPiris opened #66 "In “Hands-on switching assistance” box size"
### Explanation

In “Hands-on switching assistance” the box under the text is cut off at the bottom.

  **Actual result: **

Entering “Hands-on switching assistance” it is observed that the box is cut off at the bottom.

**Expected result: **

That when entering "Hands-on switching assistance" the box is seen complete as shown in the original.

* *Screen size: *

 1440x633

### Screenshots

  orig

[2022-04-24 20:42] roberto-97c opened #67 "text size error - wn-taxt-report"
### Explanation
the text size does not match what is expected.

**Actual result:** the size is not as expected.

**Expected result:** that the size matches the original.

*Screen size:* all screen

### Screenshots

Original:
![image](https://user-images.githubusercontent.com/103531307/164995406-f9d6d063-ce43-46cb-a29a-afd09d284a0f.png)

Our:
![image](https://user-images.githubusercontent.com/10353

[2022-04-24 21:46] roberto-97c opened #68 "space is not correct - wn-/whats-new/telehealth-now-has-a-chat-feature"
### Explanation
the space does not match what is expected.

**Actual result:**  640 x 2258

**Expected result:** 640 x 2268

*Screen size:* 1366 x 768

### Screenshots

Original: (
![image](https://user-images.githubusercontent.com/103531307/164997853-2b2ba07b-6ced-4aef-bda8-6bba90227485.png)
)
Our: (
![image](https://user-images.githubusercontent.com/103531307/164997866-d6f98fa2-8450-4b9f-8019-27

[2022-04-24 23:13] roberto-97c opened #69 "type of lyrisc not is corret - wn-a-new-way-to-remind-clients-to-complete-paperwork"
### Explanation
in the text enter your email address the font is not correct

**Actual result:** the font is not as expected.

**Expected result:** the font is correct.

*Screen size:* all screen

### Screenshots

Original: (
![image](https://user-images.githubusercontent.com/103531307/165000563-589efde8-d96a-42c7-81f9-02796d02ef06.png)
)
Our: (
![image](https://user-images.githubusercontent.com/1

[2022-04-24 23:18] roberto-97c commented on #67
This error occurs on all pages of this session.

[2022-04-24 23:18] roberto-97c commented on #69
This error occurs on all pages of this session.

[2022-04-25 01:37] anaPiris opened #70 "Cropped image in “A community of practitioners”"
### Explanation

In “A community of practitioners” the box with the image is cut off at the top of it.

  **Actual result: **

When entering "A community of practitioners" the box with the image is cut off at the top.

**Expected result: **

That when entering "A community of practitioners" the box with the image is complete.

* *Screen size: *

    1)1440x633

### Screenshots

  original:
https:/

[2022-04-25 02:39] anaPiris opened #71 "Margin error in: "Keep it simple with AutoPay""
### Explanation

In "Keep it simple with AutoPay" the box with the image is cut off in the lower right part of it.

   **Actual result: **

When entering "Keep it simple with AutoPay" the box with the image on the right is cut off at the bottom of it.

**Expected result: **

That when entering "Keep it simple with AutoPay" the box with the image on the right is complete.

* *Screen size: *

  Larg

[2022-04-25 02:57] anaPiris opened #72 "Box size error in "Keep information safe""
### Explanation

In "Keep information safe” the box with the image is cut off in the upper left part of it.

   **Actual result: **

When entering "Keep information safe” the box with the image on the left is cut off at the top of it.

**Expected result: **

That when entering "Keep information safe" the box with the image on the left is seen completely.

* *Screen size: *

  Large screen

## Scre

[2022-04-25 13:31] anaPiris opened #73 "Image cropped at"Make it easy for clients to pay""
### Explanation

In "Make it easy for clients to pay” the box with the image is cut off in the upper right part of it.

  **Actual result: **

When entering "Make it easy for clients to pay” the box with the image on the right is cut off at the top of it.

**Expected result: **

That when entering "Make it easy for clients to pay" the box with the image on the right is seen completely.

* *Screen

[2022-04-25 13:35] heliomar-pena commented on #72
Perfect, good work!

[2022-04-25 13:45] heliomar-pena commented on #63
Check the "1)" screen size please, it doesn't is a large screen, maybe 800-900px of width screen. Can you try to reproduce the same error using the Inspect Elements Tool to see the screen size where the error occurs

[2022-04-25 14:33] angelik0828 commented on #8
![image](https://user-images.githubusercontent.com/4030477/165110737-06325dd5-50b9-47aa-a857-476c37b713bd.png)

I don't see the change @Katsu08

[2022-04-25 14:35] angelik0828 commented on #25
If it had to do with the url it was in another branch when I reported it

Fixed!!

[2022-04-25 14:35] #25 closed

[2022-04-25 14:42] angelik0828 commented on #43
It is not the text as such, it is the container that is bigger, please check

Original
![image](https://user-images.githubusercontent.com/4030477/165112674-7fbb9277-fbcd-4bd5-bc9b-17ff43f681e4.png)
our
![image](https://user-images.githubusercontent.com/4030477/165112908-36f0dc47-edf3-454c-878f-80cadef47390.png)

[2022-04-25 14:57] roberto-97c opened #74 "link does not open - "Product Demo""
### Explanation
the link at the bottom of the video does not redirect to the next page.

**Actual result:** the link is not as expected.

**Expected result:** Clicking on the link takes me to the next page.

*Screen size:* all screen.

### Screenshots

Original: (
![image](https://user-images.githubusercontent.com/103531307/165114901-8df8e7b8-1b6b-46f2-9ba5-8af762984951.png)
)
Our: (
![image](http

[2022-04-25 15:45] roberto-97c opened #75 "text color is not correct- "pricing""
### Explanation
the color of the text does not match the original.

**Actual result:** the color of the text is not as expected.

**Expected result:** the color of the text matches the original.

*Screen size:* all screen

### Screenshots

Original: (
![image](https://user-images.githubusercontent.com/103531307/165124363-bbb2449c-ad0f-44fe-9f7e-f68d9f8f7603.png)
)
Our: (
![image](https://user-imag

[2022-04-25 15:52] roberto-97c commented on #75
this error is in general in the session - WN Template.

[2022-04-25 15:52] roberto-97c commented on #74
this error is in general in the session - WN Template.

[2022-04-25 19:49] roberto-97c opened #76 "the text is not - features-group-practice"
### Explanation
blue texts do not appear.
**Actual result:** blue texts do not appear.

**Expected result:** blue texts are visible.

*Screen size:* all screen

### Screenshots

Original: (
![image](https://user-images.githubusercontent.com/103531307/165161787-68b861c6-f814-4bb1-afd2-f3cd7ff32ee3.png)
)
Our: (
![image](https://user-images.githubusercontent.com/103531307/165161825-de0823ad-8142-4fa

[2022-04-26 03:05] anaPiris opened #77 "In "Your all-in-one private practice partner” difference in spaces and image size."
### Explanation

In "Your all-in-one private practice partner” difference in spaces.

 **Actual result: **

When entering "Your all-in-one private practice partner” the box where the mail is entered and the line of stars is seen with a slight movement due to the different spaces between them.

**Expected result: **

That when entering "Your all-in-one private practice partner” the image is seen in

[2022-04-26 13:09] anaPiris opened #78 "In "Your practice in your pocket” difference in font size in email entry"
### Explanation

In "Your practice in your pocket” there is a difference in the font size in the “enter your email” field

   **Actual result: **

When entering "Your practice in your pocket" it is observed that the font size changes to smaller.

**Expected result: **

That when entering "Your practice in your pocket" the letter is seen in the same way as in the original.

* *Screen size: *

1024x

[2022-04-26 13:36] anaPiris opened #79 "Cropped image at:"Built for iPhone and Android”"
### Explanation

In "Built for iPhone and Android” the image is cut off.

  **Actual result: **

Entering "Built for iPhone and Android" shows that the image is cut off at the top.

**Expected result: **

That when entering "Built for iPhone and Android" the image is seen complete as in the original.

* *Screen size: *

1024x633

### Screenshots

Original:
1)https://user-images.githubusercontent.c

[2022-04-26 14:40] #35 closed

[2022-04-26 14:41] #59 closed

[2022-04-26 14:41] #65 closed

[2022-04-26 14:42] #66 closed

[2022-04-26 14:42] #60 closed

[2022-04-26 14:42] #70 closed

[2022-04-26 14:42] #61 closed

[2022-04-26 14:42] #48 closed

[2022-04-26 14:42] #47 closed

[2022-04-26 14:43] #46 closed

[2022-04-26 14:43] #50 closed

[2022-04-26 14:43] #44 closed

[2022-04-26 14:45] #73 closed

[2022-04-26 14:46] #51 closed

[2022-04-26 14:46] #52 closed

[2022-04-26 14:49] #11 closed

[2022-04-26 14:49] #1 closed

[2022-04-26 14:51] #4 closed

[2022-04-26 14:52] #6 closed

[2022-04-26 14:52] #10 closed

[2022-04-26 14:56] anaPiris opened #80 "Text last box on the page does not match"
### Explanation

In "features/online-booking/” the text is not the same.

  **Actual result: **

When entering "features/online-booking/” the text of the last box is not the same as the original

**Expected result: **

That when entering "features/online-booking/” the text of the last box is the same as the original.

* *Screen size: *

1024x633

### Screenshots

Original:
![image](https://user-im

[2022-04-26 16:29] roberto-97c opened #81 "Missing content on the page - wn-screensharing"
### Explanation
The page lacks content.

**Actual result:** Our page lacks content.

**Expected result:** the page has all the content.

*Screen size:* all screen

### Screenshots

Original:
![image](https://user-images.githubusercontent.com/103531307/165347615-ec32eb44-057b-419d-9b55-bf4e472b8f32.png)

Our:
![image](https://user-images.githubusercontent.com/103531307/165347646-b829c63f-9d97-488b-

[2022-04-26 17:49] angelik0828 commented on #62
this issue has already been created

[2022-04-26 17:49] #62 closed

[2022-04-26 18:31] angelik0828 commented on #78
this issue has already been created

[2022-04-26 18:31] #78 closed

[2022-04-26 18:32] angelik0828 commented on #79
this issue has already been created

[2022-04-26 18:32] #79 closed

[2022-04-26 18:38] anaPiris opened #82 "Container error"
### Explanation

In "characteristics/reservation-online/” the position of the image and the size of the letters are different for the resolution 425x633/375x633.

  **Actual result: **

When entering "features/online-booking/” you can see the smaller images in some parts of the page.

**Expected result: **

That when entering "features/online-booking/” the images have the same width throughout the

[2022-04-26 20:51] angelik0828 opened #83 "Componentes Pruebas unitarias 1"
## Explication

En SP necesitamos crear pruebas unitarias para algunos componentes, en esta tarea veras recopilados 5 componentes que no tienen pruebas unitarias y necesitan que se les anhadan, cada componente debe cumplir con los siguientes tests:

- Snapshot
- Is render correctly
- Functionality tests if apply
- Negative tests if apply

Los componentes que se están mencionando están dentro de **

[2022-04-26 20:57] angelik0828 opened #84 "Component Unit tests #2"
## Explanation

In SP we need to create unit tests for some components, in this task you will see collected 5 components that do not have unit tests and need to be added, each component must meet the following tests:

- Snapshot
- Is render correctly
- Functionality tests if apply
- Negative tests if apply

The components that are being mentioned are inside **/src/components**, first you should go

[2022-04-26 21:23] angelik0828 opened #85 "Component Unit Test #3"
## Explanation

In SP we need to create unit tests for some components, in this task you will see collected 5 components that do not have unit tests and need to be added, each component must meet the following tests:

- Snapshot
- Is render correctly
- Functionality tests if apply
- Negative tests if apply

The components that are being mentioned are inside **/src/components**, first you should go

[2022-04-26 21:29] angelik0828 opened #86 "Component Unit tests #4"
## Explanation

In SP we need to create unit tests for some components, in this task you will see collected 5 components that do not have unit tests and need to be added, each component must meet the following tests:

- Snapshot
- Is render correctly
- Functionality tests if apply
- Negative tests if apply

The components that are being mentioned are inside **/src/components**, first you should go

[2022-04-26 21:38] angelik0828 opened #87 "Component Unit tests #5"
## Explanation

In SP we need to create unit tests for some components, in this task you will see collected 5 components that do not have unit tests and need to be added, each component must meet the following tests:

- Snapshot
- Is render correctly
- Functionality tests if apply
- Negative tests if apply

The components that are being mentioned are inside **/src/components**, first you should go

[2022-04-26 21:43] angelik0828 opened #88 "Component Unit tests #6"
## Explanation

In SP we need to create unit tests for some components, in this task you will see collected 5 components that do not have unit tests and need to be added, each component must meet the following tests:

- Snapshot
- Is render correctly
- Functionality tests if apply
- Negative tests if apply

The components that are being mentioned are inside **/src/components**, first you should go

[2022-04-26 21:45] angelik0828 opened #89 "Component Unit tests #7"
## Explanation

In SP we need to create unit tests for some components, in this task you will see collected 5 components that do not have unit tests and need to be added, each component must meet the following tests:

- Snapshot
- Is render correctly
- Functionality tests if apply
- Negative tests if apply

The components that are being mentioned are inside **/src/components**, first you should go

[2022-04-26 22:27] Saikilito commented on #83
I send the test into branch `feat/buttons-test`

[2022-04-27 10:13] Saikilito commented on #84
Send test into `feat/loadings-test` branch

[2022-04-27 11:12] Saikilito commented on #85
Test sent in the `feat/Modals-test` branch

[2022-04-27 11:17] Saikilito commented on #86
`Modals/NotFoundContent` non exist in staging branch

![image](https://user-images.githubusercontent.com/29690711/165506711-8d67810a-af56-465a-a3cd-9aeb03872694.png)

[2022-04-27 15:30] heliomar-pena commented on #67
Hello roberto! thanks for check!.

This doesn't affect how looks the page
Original:
![image](https://user-images.githubusercontent.com/103531307/164995406-f9d6d063-ce43-46cb-a29a-afd09d284a0f.png)

Our:
![image](https://user-images.githubusercontent.com/103531307/164995417-f417af15-ad24-4d57-9fe1-b477d1fb6213.png)

This doesn't affect how looks the page, that margin is the way that we've use to do

[2022-04-27 15:32] #67 closed

[2022-04-27 16:26] heliomar-pena commented on #83
[Pull Request](https://github.com/simplepractice/www-simplepractice-gatsby/pull/475)

[2022-04-27 16:34] heliomar-pena commented on #84
[Pull request](https://github.com/simplepractice/www-simplepractice-gatsby/pull/477)

[2022-04-27 18:02] roberto-97c opened #90 "image size is not correct - user story - page 1"
### Explanation
the size of the image is not as expected.

**Actual result:** the size of the image does not match what is expected.

**Expected result:** that the size of the image is as expected.

*Screen size:* all screen

### Screenshots
Original:
![image](https://user-images.githubusercontent.com/103531307/165588338-68846332-aab4-4bc4-9619-863ab924a9b9.png)

Our:
![image](https://user-images.

[2022-04-27 18:14] heliomar-pena commented on #85
[Pull Request](https://github.com/simplepractice/www-simplepractice-gatsby/pull/478)

[2022-04-27 18:16] heliomar-pena commented on #86
I'm sorry @Saikilito . It's out of modal folder

Modals/NotFoundContent

![lastscreenshot](https://user-images.githubusercontent.com/66505715/165592798-f0466747-0d44-4b2f-9d55-f3ebe06fab21.png)

[2022-04-27 18:22] heliomar-pena commented on #53
Done! Please check here:

[Gatsby](https://wwwsimplepracticegatsbystaging-fixfixingsimplifydetails.gtsb.io/simplify-practice-sign-up/)
[Original](http://spgatsby.wpengine.com/simplify-practice-sign-up/)

[2022-04-27 18:22] heliomar-pena commented on #54
Done! Please check here:

[Gatsby](https://wwwsimplepracticegatsbystaging-fixfixingsimplifydetails.gtsb.io/simplify-practice-sign-up/)
[Original](http://spgatsby.wpengine.com/simplify-practice-sign-up/)

[2022-04-27 18:22] heliomar-pena commented on #55
Done! Please check here:

[Gatsby](https://wwwsimplepracticegatsbystaging-fixfixingsimplifydetails.gtsb.io/simplify-practice-sign-up/)
[Original](http://spgatsby.wpengine.com/simplify-practice-sign-up/)

[2022-04-27 18:23] heliomar-pena commented on #56
Done! Please check here:

[Gatsby](https://wwwsimplepracticegatsbystaging-fixfixingsimplifydetails.gtsb.io/simplify-practice-sign-up/)
[Original](http://spgatsby.wpengine.com/simplify-practice-sign-up/)

[2022-04-27 18:26] heliomar-pena commented on #57
Done! Please check here:

[Gatsby](https://wwwsimplepracticegatsbystaging-fixfixingsimplifydetails.gtsb.io/simplify-practice-sign-up/)
[Original](http://spgatsby.wpengine.com/simplify-practice-sign-up/)

[2022-04-27 18:28] heliomar-pena commented on #58
Done! Please check here:

[Gatsby](https://wwwsimplepracticegatsbystaging-fixsignupformdetails.gtsb.io/simplify-practice-sign-up/)
[Original](https://spgatsbystg.wpengine.com/simplify-practice-sign-up/)

[2022-04-27 18:33] heliomar-pena commented on #8
Our: Left
Original: Right
![lastscreenshot](https://user-images.githubusercontent.com/66505715/165595571-ba3758fc-8da8-46c1-90d2-6547f5338662.png)

The issue is about the space between the title (Ebooks) and the description (A Clinician....)

Can you check again please?

[2022-04-27 18:38] heliomar-pena commented on #9
Working it

[2022-04-27 19:30] heliomar-pena commented on #9
[Pull request](https://github.com/simplepractice/www-simplepractice-gatsby/pull/479)

[2022-04-27 19:33] heliomar-pena commented on #13
@denisosuna Good work!

[2022-04-27 19:39] #13 closed

[2022-04-27 19:40] heliomar-pena commented on #14
@denisosuna Good work!

[2022-04-27 19:41] #14 closed

[2022-04-27 19:44] heliomar-pena commented on #15
I don't see the problem @angelik0828 Can you check please?

[Gatsby](https://wwwsimplepracticegatsbystaging.gtsb.io/)
[Original](https://spgatsbystg.wpengine.com/)

[2022-04-27 19:53] #23 closed

[2022-04-27 20:00] heliomar-pena commented on #24
Done! Waiting build
[Pull request](https://github.com/simplepractice/www-simplepractice-gatsby/pull/480)

[2022-04-27 20:01] heliomar-pena commented on #26
Someone have already added that banner @angelik0828 please check

https://wwwsimplepracticegatsbystaging.gatsbyjs.io/features/#documentation/
https://spgatsbystg.wpengine.com/features/#documentation/

[2022-04-27 20:15] roberto-97c opened #91 "spaces error - user story - page 1"
### Explanation
the spaces are not correct.

**Actual result:** spaces do not match what is expected.

**Expected result:** that the spaces are as expected.

*Screen size:* all screen

### Screenshots

Original:
![image](https://user-images.githubusercontent.com/103531307/165621919-636e68c6-69cc-4c89-b206-c1036ecf9fd2.png)

Our:
![image](https://user-images.githubusercontent.com/103531307/16562194

[2022-04-27 20:41] roberto-97c opened #92 "error - capital letter / lower case "user story - page 1""
### Explanation
They do not match both capital letters at the beginning of the word.

**Actual result:** at the beginning of the word Name is written with lowercase.

**Expected result:** Both letters must be capitalized.

*Screen size:* full screen

### Screenshots

Original:
![image](https://user-images.githubusercontent.com/103531307/165626337-0f75258e-2441-4d85-ab37-a20ed7482d61.png)

Our:
![i

[2022-04-27 20:58] roberto-97c opened #93 "font size is not correct - "user story - page 1""
### Explanation
the font size does not match what is expected.

**Actual result:**  the font is smaller than expected.

**Expected result:** the font size matches the expected one.

*Screen size:* screen full

### Screenshots

Original:
![image](https://user-images.githubusercontent.com/103531307/165629319-af8373f3-ca40-4b2c-9375-b0191ac9c0eb.png)

Our:
![image](https://user-images.githubuserconte

[2022-04-28 13:14] anaPiris commented on #63
Revised, the error occurs for all resolutions, the image is cut off at the bottom.
Original
![image](https://user-images.githubusercontent.com/74306449/165759272-a8fc0731-270a-45ce-87d1-ad71056dfc4d.png)
Our
![image](https://user-images.githubusercontent.com/74306449/165759081-ab9136d8-7cb5-4bbb-96d9-a9a36a98ae66.png)

[2022-04-28 13:17] #63 closed

[2022-04-28 15:39] angelik0828 commented on #8
I see it much better, it's fixed!!

[2022-04-28 15:39] #8 closed

[2022-04-28 16:00] angelik0828 commented on #15
revised!! All Right

[2022-04-28 16:00] #15 closed

[2022-04-28 16:07] angelik0828 commented on #26
The element is already there fixed!

[2022-04-28 16:07] #26 closed

[2022-04-28 16:55] angelik0828 commented on #54
fixed!!

[2022-04-28 17:01] angelik0828 commented on #55
fixed!!

[2022-04-28 17:06] angelik0828 commented on #56
fixed!!!

[2022-04-28 17:06] #56 closed

[2022-04-28 17:18] angelik0828 commented on #57
fixed!

[2022-04-28 17:18] #57 closed

[2022-04-28 18:24] Katsu08 commented on #83
@Saikilito can you please do rebase?

[2022-04-28 19:53] heliomar-pena commented on #24
Done! Please check

[Gatsby](https://wwwsimplepracticegatsbystaging-fixwnnoimageremovinghr.gtsb.io/whats-new/were-changing-our-plans-and-prices/)
[Original](https://spgatsby.wpengine.com/whats-new/were-changing-our-plans-and-prices/)

[2022-04-28 19:54] heliomar-pena commented on #9
Done! Please check

[Gatsby](https://wwwsimplepracticegatsbystaging-fixpartnerstemplatespaces.gtsb.io/partners)
[Original](http://spgatsbystg.wpengine.com/partners/)

[2022-04-28 19:56] heliomar-pena commented on #29
The URL that you're using is bad, can you try please using: https://wwwsimplepracticegatsbystaging.gatsbyjs.io/disruptot instead?

[2022-04-28 19:58] heliomar-pena commented on #27
@Israel-Laguan sign_up page doesn't exists, what can we do? Maybe advise to seanme about this problem?

[2022-04-28 20:01] heliomar-pena commented on #31
I'm working in this issue

[2022-04-28 20:10] Israel-Laguan commented on #27
Yep, I think it can be fixed by our side

[2022-04-28 20:22] heliomar-pena commented on #31
Ready !

[Pull Request](https://github.com/simplepractice/www-simplepractice-gatsby/pull/493)

[2022-04-28 21:32] heliomar-pena commented on #31
done!
Please check

[Gatsby](https://wwwsimplepracticegatsbystaging-fixfeaturedetailvideomargin.gtsb.io/features/online-booking/)
[Original](https://wwwsimplepracticegatsbystaging.gatsbyjs.io/features/online-booking/)

[2022-04-29 20:26] heliomar-pena commented on #75
Fixed please check @angelik0828

Original: https://spgatsbystg.wpengine.com/pricing/
Our: https://wwwsimplepracticegatsbystaging.gatsbyjs.io/pricing/

[2022-04-29 20:52] heliomar-pena commented on #43
@angelik0828 can you explain to me again about this task?

or check if is already solved? I don't see the problem again, i'm sorry!

[2022-04-29 21:09] heliomar-pena commented on #19
Solved! Please check:

Original: http://spgatsbystg.wpengine.com/features/appointment-reminders/
Our: (link) https://wwwsimplepracticegatsbystaging.gatsbyjs.io/features/appointment-reminders/

[2022-04-29 23:05] Saikilito commented on #86
I sent the test into branch `feat/Add-new-test`

[2022-05-03 20:09] #90 closed

[2022-05-03 20:10] #92 closed

[2022-05-03 20:10] #93 closed

[2022-05-03 20:11] #91 closed

[2022-05-03 20:15] angelik0828 commented on #75
fixed!!

[2022-05-03 20:15] #75 closed

[2022-05-03 20:17] angelik0828 commented on #9
fixed!

[2022-05-03 20:17] #9 closed

[2022-05-03 20:18] angelik0828 commented on #19
fixed!

[2022-05-03 20:18] #19 closed

[2022-05-03 20:20] angelik0828 commented on #24
fixed!

[2022-05-03 20:20] #24 closed

[2022-05-03 20:21] angelik0828 commented on #29
fixed!

[2022-05-03 20:21] #29 closed

[2022-05-04 15:13] roberto-97c opened #94 "image text is not centered - shopeasy-ruby-backend"
### Explanation
the text of the image is not centered with respect to the image.

**Actual result:** the text of the image is not centered

**Expected result:** Make sure the text is centered in relation to the image.

*Screen size:* all screen

### Screenshots

Our:
![image](https://user-images.githubusercontent.com/103531307/166712491-67be8f6c-4081-4b27-9eb3-1e79053b9408.png)

### Checklist

Thi

[2022-05-04 16:04] roberto-97c opened #95 "cropped image text - Positioning-and-Floating-Elements"
### Explanation
The text of the images is cut off.

**Actual result:** the text in the image is not complete.

**Expected result:** the text of the image is complete.

*Screen size:* all screen

### Screenshots

Our:
![image](https://user-images.githubusercontent.com/103531307/166722648-fd07fc08-6d54-41e0-8ba2-805b197338d6.png)

### Checklist
This issue can be closed when the following tasks are c

[2022-05-04 18:00] Israel-Laguan commented on #95
In this case, I think it's expected? As was only and example, there is no need to show everything

[2022-05-04 18:00] Israel-Laguan commented on #95
I think this is not a valid issue

[2022-05-04 18:01] Israel-Laguan commented on #94
This is a design issue, which I think is not valid.

[2022-05-04 22:24] anaPiris opened #96 "Alignment box under the title"
### Explanation
The box below the title is not aligned in a single row for this resolution.

**Actual result:**
When looking at "Proximity Post-it" the view of the box above is seen divided into two rows.

**Expected result:**
That when looking at "Proximity Post-it" the view of the box above is seen in a single row.

*Screen size:*
1024x633

### Screenshots
![image](https://user-images.githubuser

[2022-05-04 22:36] anaPiris opened #97 "Title Aligned With The Link / Título Alineado Con El Enlace"
### Explanation:

As a suggestion, the link pasted to the title that references it would be more visible.

**Current result:**
Going through "Task", it is observed that the link is not aligned with the title that refers to it.

**Expected result:**
Hovering over Task", you can see the link aligned with the title that refers to it.

*Screen size:*
1024x633

### Screenshots:
![image](https://user-im

[2022-05-04 23:51] anaPiris opened #98 "Margin Alignment And Unified Content / Alineación De Márgenes Y Contenido Unificado /"
### Explanation:
Under "Potential Features - Author", in the top right box where the Linkedin reference is, it should show everything on the same line. On the other hand, the icons in this box are not aligned with the text.

**Current result:**
In "Potential Features- Author" you can see that in the top right box, the "/Connect to my Linkedin" reference is cut off and not correctly aligned.

**Exp

[2022-05-05 00:11] anaPiris opened #99 "Text alignment according to resolution"
### Explanation
The "Parrot Echo" title is not displayed correctly aligned for resolutions other than 1024x633.

**Actual result:**
In "Parrot Echo" the title text is not well aligned for resolutions other than 1024x633.

**Expected result:**
That in "Parrot Echo" the title text is aligned for all resolutions the same as 1024x633.

*Screen Size:* (Add your screen size)
1-1024x633
2-768x633
3-425x6

[2022-05-05 00:29] anaPiris opened #100 "Link clip out of margin"
### Explanation
In the "Author" box the link clip to Israel Laguan is out of range, cut off for all resolutions.

**Actual result:**
In the "Author" box the link clip to Israel Laguan is cut off.

**Expected result:**
That in the "Author" box the link clip to Israel Laguan be seen in its entirety.

*Screen size:*
1024x633

### Screenshots

![image](https://user-images.githubusercontent.com/7430644

[2022-05-05 01:50] anaPiris opened #101 "Margin error for resolution 320,375x633"
### Explanation
In the "Author" box margin error for resolution 375x633 and 320x633.

**Actual result:**
In the "Author" box for resolution 320 and 375 x633, the box on the right side is cut off.
**Expected result:**
That in the "Author" box for resolution 320 and 375 x633 the full screen is seen like the other resolutions.

*Screen size:*
320x633
375x633

### Screenshots
![image](https://user-ima

[2022-05-05 02:17] anaPiris opened #102 "Different Reference Icons In "Show your support" / Diferentes Íconos De Referencia En "Muestra Tu Apoyo""
### Explanation:

Different reference in "Show your support" to access icons8 between Laguan/parrot and Laguan/HTML.

**Current result:**
In "Show your support", the way to access icons8 is different between Laguan/parrot and Laguan/HTML.

**Expected result:**
That in "Show your support" the way to access icons8 is the same in Laguan/parrot and Laguan/HTML.

*Screen size:*
Full screen.

### Screen

[2022-05-05 02:31] anaPiris opened #103 "Error In Continuous Redirection Link To The Title / Error En El Enlace De Redireccionamiento Contínuo Al Título"
###Explanation:
The link "https://github.com/pamigomp/node-mongodb-template", next to the title, does not redirect to any information as its title names it, the page is incomplete without text or photos.

Current result:
When entering "Strongly inspired by "author": "Michal Pietrzak"" a link is observed that does not redirect to information as mentioned in the title of the same, it does not have t

[2022-05-05 02:36] roberto-97c opened #104 "text thickness bug - fast-shopping-backend"
### Explanation
The text in the image does not have the same thickness, it is recommended that the thickness in the Code Style text be the same as the Standard text, since it would be better when viewing the image.

**Actual result:** the thickness in the Code Style text does not match the Standard text.

**Expected result:** the thickness of the Code Style text matches the Standard text.

*Screen

[2022-05-05 03:05] roberto-97c opened #105 "Error Between Logo And Text Spaces - Fast-Shopping-Backend / Error Entre El Logotipo Y Los Espacios De Texto - Fast-Shopping-Backend"
### Explanation:

It is recommended that between each logo and each text there is the same space.

**Current result:**
Spaces between logo and text are not as expected.

**Expected result:**
 That between logo and text there is the same space.

*Screen size:*
 full screen.

### Screenshots:
Ours:
![image](https://user-images.githubusercontent.com/103531307/166857829-b910e194-3f74-4e20-8734-afd3dd6

[2022-05-05 13:41] Israel-Laguan commented on #96
Hmm I think the box is aligned? Maybe you meant to align the labels (like the "FORKS 0")?

[2022-05-05 13:45] Israel-Laguan commented on #99
This one is expected, I think is the expected behavior, as in a single string of text

[2022-05-05 13:46] Israel-Laguan commented on #100
This one is a problem with Github, so it's impossible for us to change, so this issue is invalid

[2022-05-05 13:47] Israel-Laguan commented on #99
Maybe propose another solution to the title, also @angelik0828 what do you think of this style? Or do you have other suggestions?

[2022-05-05 13:52] Israel-Laguan commented on #101
Sadly, this is an issue from Github, so we can not modify it

[2022-05-05 13:52] #101 closed

[2022-05-05 13:53] Israel-Laguan commented on #102
Between them, what do you think is the best way, @angelik0828?

[2022-05-05 13:55] Israel-Laguan commented on #103
Please explain more the issue, I don't get how it can be solved/verified

[2022-05-05 13:56] Israel-Laguan commented on #104
That is an image, coming from external source, so it can not be modified

[2022-05-05 13:56] #104 closed

[2022-05-05 14:32] angelik0828 commented on #102
I think the link is better seen without the icon gives the patience to click on the most understan

[2022-05-05 14:37] angelik0828 commented on #99
I think lowering the resolution might reduce the size of the text as it would look bad at the same size on a small screen.

and be left on a single line or two but with the text centered

[2022-05-05 14:48] Israel-Laguan commented on #102
Please modify the description above with this in mind, thanks for feedback

[2022-05-05 14:49] Israel-Laguan commented on #99
What about separate in 2 lines?

[2022-05-05 15:44] roberto-97c opened #106 "Font bug - shopeasy-ruby-backend"
### Explanation
On the right side of each box, the font does not coincide with the left side.

**Actual result:** Different font.

**Expected result:** Match the same font.

*Screen size:* all screen

### Screenshots

Our:
![image](https://user-images.githubusercontent.com/103531307/166959811-5f430f8c-1a13-4ade-bdd1-209b0b1d9729.png)

![image](https://user-images.githubusercontent.com/103531307/16

[2022-05-05 16:05] roberto-97c opened #107 "Bug in the color of the letter - coolticket-server"
### Explanation
The color of the letter is not the same in the text of the EXPRESS.JS - V4.X images, both should be white, also in the JAVASCRIPT - ES6+ text.

**Actual result:** The font color is not the same.

**Expected result:** Match the color of the letter.

*Screen size:* all screen

### Screenshots

Our:
![image](https://user-images.githubusercontent.com/103531307/166965077-d041f1de-b5d2-4

[2022-05-05 17:50] roberto-97c opened #108 "Unexpected colour - arduino-relay-app"
### Explanation
It is recommended that the fill of the text 0 CLOSED be yellow, matching the color with that of the left side 1 OPEN.

**Actual result:** The fill of the 0 CLOSED text is green.

**Expected result:** That the padding 0 CLOSED be yellow.

*Screen size:* all screen

### Screenshots
Our:
![image](https://user-images.githubusercontent.com/103531307/166982618-c0dfe2f5-c29e-4653-8334-fae

[2022-05-05 19:00] roberto-97c opened #109 "Size is not as expected - TicTacToe-JS"
### Explanation
The size of the buttons is very small, it is recommended to increase the size of the buttons and decrease the size of the logo by half.

**Actual result:**  The size of the buttons is very small and the size of the logo in the middle is very large.

**Expected result:** That the size of the buttons is larger and the half logo is smaller.

*Screen size:* all screen

### Screenshots

[2022-05-05 20:04] Israel-Laguan commented on #106
That also is external/non-fixable issue, please note is an image coming form other place

[2022-05-05 20:05] #107 closed

[2022-05-05 20:07] Israel-Laguan commented on #108
Hmm colors are not dependent on the value, and that is not defined on our side

[2022-05-05 20:07] #108 closed

[2022-05-05 20:42] Israel-Laguan commented on #109
It can be changed applying styles from here

https://shields.io/

TL:DR

Change `?style=plastic` in the label URL to `?style=for-the-badge`

[2022-05-05 21:39] roberto-97c opened #110 "Remove Versions and Packages - Reports / Eliminar Versiones Y Paquetes - Informes"
### Explanation:

It is recommended to remove Versions and Packages as they have no published content.

**Current result:**
Versions and Packages are in the content.

**Expected result:**
That Versions and Packages are not in the content.

*Screen size:*
Full screen.

### Screenshots:
Ours:
![image](https://user-images.githubusercontent.com/103531307/167029802-ce6c6072-bf53-4281-b738-780dbe813d88.

[2022-05-05 22:12] roberto-97c opened #111 "bug in the link - reporting"
### Explanation
The http://localhost:3000 appears in the text but clicking on it does not open the link.

**Actual result:** not open the link.

**Expected result:** May the link open me to the next page.

*Screen size:* all screen

### Screenshots

Our:
![image](https://user-images.githubusercontent.com/103531307/167033500-7438665c-81fd-4273-9958-1981286f035f.png)

![image](https://user-images.gi

[2022-05-05 22:29] roberto-97c opened #112 "Add More Information To The README - Report / Agregar Más Información Al Archivo README - Reportar"
[### Explanation:

It is recommended to add more information to the README, either in text or an image, so that the user can understand the content.

**Current result:**
The README lacks clear information to be understood by the user.

**Expected result:**
 In the README there is clear information to be understood by the user.

*Screen size:*
Full screen.

### Screenshots:
Ours:
![image](https://u

[2022-05-05 22:49] roberto-97c opened #113 "Missing Content - Reporting / Contenido Faltante - Informes"
### Explanation:

It is recommended below the author information to add information Contributing, Show your support and License.

**Current result:**
 Contributing, Show your support and License content is missing.

**Expected result:**
 There is information about the content Contributing, Show your support and License.

*Screen size:*
Full screen.

### Screenshots:
Our:
![image](https://user-imag

[2022-05-05 23:11] roberto-97c opened #114 "no description link - shopeasy-ruby-backend"
### Explanation
It is recommended to add link and description of the content.

**Actual result:** There is no link or description.

**Expected result:** That there is link and description of the page.

*Screen size:* all screen

### Screenshots

Our:
![image](https://user-images.githubusercontent.com/103531307/167041459-66d98633-74ad-45f1-b332-0b29f9fe0a36.png)

### Checklist
This issue can be clo

[2022-05-06 00:38] anaPiris commented on #99
De acuerdo con el comentario de Angélica, opino que se vería mejor como lo muestra en la resolución 768x633 y que se vea de la misma forma para las demás resoluciones, excepto la de 1024x633 que el título se ve en una sola línea.

[2022-05-06 00:44] anaPiris commented on #96
When the screen is opened, it is shown as indicated in the attached link in this comment, as if the bottom box were smaller, when opening the inspector, the bottom box is shown aligned and changes the labels to two rows.
![image](https://user-images.githubusercontent.com/74306449/167048773-9e9f3ffc-13eb-408e-b30f-c18f2bf6330b.png)

[2022-05-06 00:58] Israel-Laguan commented on #96
This is the intended behavior, it's normal it becomes 2 rows when the size is small

[2022-05-06 00:59] #96 closed

[2022-05-06 01:11] #106 closed

[2022-05-06 01:14] Israel-Laguan commented on #103
Maybe change to something on the line of "explain in what way it took inspiration from that other repo"

[2022-05-06 01:42] anaPiris opened #115 "It Is Not Understood What "Icon From" Refers To / No Se Entiende A Qué Se Refiere "Icon From""
### Explanation:

It is not clear what IT means, because IT says:
(icon from:) and below (icon by icons8).

**Current result:**
In "Show your support" it is not understood what "icon from:" and "icon by icons8" refer to.

**Expected result:**
That in "Show your support" it is understood that "icon from:" and "icon by icons8" refer.

*Screen size:*
1024x633

### Screenshots:
![image](https://user-i

[2022-05-06 01:47] #95 closed

[2022-05-06 01:47] #94 closed

[2022-05-06 01:58] roberto-97c opened #116 "Remove Shopeasy-Ruby -Backend Content / Eliminar El Contenido De Shopeasy-Ruby-Backend"
### Explanation:

It is recommended to remove Versions and Packages as they have no published content.

**Current result:**
Versions and Packages are in the content.

**Expected result:**
That Versions and Packages are not in the content.

*Screen size:*
 Full screen.

### Screenshots:
Ours:
![image](https://user-images.githubusercontent.com/103531307/167054310-8b5a9d2b-30ec-4001-9b5d-2f6f6b94e56a

[2022-05-06 02:18] anaPiris opened #117 "Improve The Authors Section Style / Mejorar El Estilo De La Sección De Autores"
### Explanation:

The goal is to improve the style in the "Authors" section, the box looks noticeably smaller than the line above, which makes it look off center, plus it's cropped for this and all other resolutions.

**Current result:**
In the "Authors" session, the box looks smaller than the line above and shows it cut off.

**Expected result:**
In the "Authors" session, the box should be seen p

[2022-05-06 02:29] roberto-97c opened #118 "to get better image - HTML-LESS-JS-no-webpack-starter"
### Explanation
It is recommended to put another image which specifies the user about the content of the page.

**Actual result:** Image is not clear on the content of the page.

**Expected result:** That there is a clear image that allows the user to understand the content of the page.

*Screen size:* all screen

### Screenshots

Our:
![image](https://user-images.githubusercontent.com/103531307/1

[2022-05-06 02:40] anaPiris opened #119 "React-SaaS-E-Commerce-Starter"
### Explanation
In "About" you do not have the link that explains the content of the page.

**Current result:**
When entering the React-SaaS-E-Commerce-Starter page, in "About" you do not have the link that explains the content of the page.

**Expected result:**
That when entering the React-SaaS-E-Commerce-Starter page, in "About" it shows the link that explains the content of the page.

*Screen s

[2022-05-06 02:46] anaPiris opened #120 "Error in "About" missing link"
### Explanation
In "About" you do not have the link that explains the content of the page.

**Current result:**
When entering the Proximity Post-it page, in "About" you do not have the link that explains the content of the page.

**Expected result:**
That when entering the Proximity Post-it page, in "About" it shows the link that explains the content of the page.

*Screen size:*

the whole screen

[2022-05-06 06:49] #99 closed

[2022-05-06 06:59] Israel-Laguan commented on #117
I would say "Lets improve the authors section style"

[2022-05-06 15:57] roberto-97c opened #121 "missing content - HTML-LESS-JS-no-webpack-starter"
### Explanation
It is recommended to add the description link above the content, it is also recommended to remove the Releases and Packages since they do not have published content.

**Actual result:** Missing description and content link in Releases and Packages.

**Expected result:** That there is a description link and that there are no Releases and Packages since they have no content.

*Screen

[2022-05-06 17:31] roberto-97c opened #122 "change styles - sensico"
### Explanation
It is recommended to change styles, since they have a very small size.

**Actual result:** Size of very small styles.

**Expected result:** Bigger styles size.

*Screen size:* all screen

### Screenshots

Our:
![image](https://user-images.githubusercontent.com/103531307/167182273-58745db3-78e9-45ff-8323-d0b5de1d4a30.png)

### Checklist
This issue can be closed when the following ta

[2022-05-06 18:36] roberto-97c opened #123 "Missing data in content - sensico"
### Explanation
It is recommended to add author data, also add images in the content.

**Actual result:** Missing author content and images.

**Expected result:** That this author's content and there are images in the description.

*Screen size:* all screen

### Screenshots

Our:
![image](https://user-images.githubusercontent.com/103531307/167197998-204944c2-b2da-4586-ac43-d5a0224f06c5.png)

### C

[2022-05-06 19:02] roberto-97c opened #124 "Missing link and content - sensico"
### Explanation
It is recommended to add description and link, also remove Releases and packages.

**Actual result:** There is no content description or link, in Releases and packages there is no content.

**Expected result:** There is a description and link of the content, that there are no Releases and packages since they do not have published content.

*Screen size:* all screen

### Screenshots

[2022-05-06 19:08] #123 closed

[2022-05-06 19:09] #124 closed

[2022-05-06 19:16] #122 closed

[2022-05-06 19:40] roberto-97c opened #125 "Link Error- React-Cra-Ts-Testing-Practice / Error De Enlace - React-Cra-Ts-Testing-Practice #125"
### Explanation:

It is recommended to fix the links error as it does not open to the next page.

**Current result:** The link does not work.

**Expected result:** That when clicking on the link opens it.

*Screen size:*  Full screen.

### Screenshots.
Our:
![image](https://user-images.githubusercontent.com/103531307/167206081-4bea93d8-6eae-403a-805b-3424ae68cf20.png)

![image](https://user-images

[2022-05-06 20:34] anaPiris opened #126 "Error in "About""
![image](https://user-images.githubusercontent.com/74306449/167212692-6a768c19-2e4e-4161-b43f-d933c88dfe7f.png)

[2022-05-06 21:24] roberto-97c opened #127 "Improve Presentation - Github-Issue-Templates / Mejorar La Presentación - Github-Issue-Templates"
### Explanation:
It is recommended to briefly explain why the texts are underlined, so that the user can understand it.

**Current result:** Texts underlined with a line.

**Expected result:** Improve the presentation of these.

*Screen size:* Full screen.
### Screenshots:
Our:
![image](https://user-images.githubusercontent.com/103531307/167218203-5f303256-728f-4877-b3ce-4836c8411711.png)

![image

[2022-05-06 21:30] anaPiris opened #128 "Error on page "parrot-done" at:"About""
Explanation
In "About" you do not have the link that explains the content of the page.

current result:
When entering the parrot-echo page, in "About" there is no link that explains the content of the page.

Expected result:
That when entering the parrot-echo page, in "About" it shows the link that explains the content of the page.

Screen size:

the whole screen

screenshots
![image](https://user

[2022-05-06 21:33] anaPiris opened #129 "Error on page "HTML-CSS-JS-Webpack-starter" at:"About""
Explanation
In "About" you do not have the link that explains the content of the page.

current result:
When entering the "HTML-CSS-JS-Webpack-starter" page, in "About" there is no link that explains the content of the page.

Expected result:
That when entering the "HTML-CSS-JS-Webpack-starter" page, in "About" it shows the link that explains the content of the page.

Screen size:

the whole scree

[2022-05-06 21:37] roberto-97c opened #130 "Add More Content - Github-Issue-Templates / Agregar Más Contenido - Github-Issue-Templates"
### Explanation:
It is recommended to add images and content to the page.

**Actual result:** Missing content and images on the page.

**Expected result:** Let there be more content and images on the page.

*Screen size:*  Full screen.

### Screenshots:
Our:
![image](https://user-images.githubusercontent.com/103531307/167219540-1aa7cf14-a755-44a3-b4f2-565964243127.png)

![image](https://user-image

[2022-05-06 21:47] roberto-97c opened #131 "add link - github-issue-templates"
### Explanation
It is recommended to add a link on the content of the page.

**Actual result:** There is no link to the content of the page, the Releases and Packages have no content.

**Expected result:** That there is a link to the content of the page and there are no Releases and Packages since they have nothing published.

*Screen size:* all screen

### Screenshots

Our:
![image](https://user-

[2022-05-06 22:13] Israel-Laguan commented on #129
Same issue as #121 @angelik0828 please verify

[2022-05-06 22:45] anaPiris opened #132 "Delete The Link That Says "Read The Article" / Borrar El Enlace Que Dice "Leer El Artículo""
**Explanation:**
The icon does not correspond to the page and generates a link with an error.

**Current result:
When clicking on the "🖊️ Read the article" icon, it shows a blank screen that indicates the page is locked.

**Expected result:
Do not open the link so that it does not generate results.

**Screen size:
screenshots:
![image](https://user-images.githubusercontent.com/74306449/167224915-0

[2022-05-06 23:18] anaPiris opened #133 "In "Authors" As Shown Link / En "Autores" Como Se Muestra En El Enlace"
**Explanation:**
In "Authors", identify "Connect to my Linkedin" and "Verify my GitHub profile" in the same way as the mail, as a quick view there is a direct access and more visible.

Current result:
When entering the page and going to Authors, both for "Connect to my Linkedin" and for "Check my GitHub Profile" it is not marked in blue like the email.

Expected result:
That when entering the page

[2022-05-06 23:30] anaPiris opened #134 "Page does not correspond to the link in: "Authors""
Explanation
In "Authors", in Izaias Neto when clicking on the name redirects to a GitHub repository when it should show personal information to whom the name refers.

current result:
When entering the page and going to Authors and clicking on the name of Izaias Neto, it shows the GitHub repository of the same.

Expected result:
That when entering the page and going to Authors and clicking on the n

[2022-05-07 16:06] arodriguezl9302 commented on #120
I would like to be assigned to this task  @Israel-Laguan @Katsu08 @e-azocar

[2022-05-07 16:06] arodriguezl9302 commented on #111
I would like to be assigned to this task  @Israel-Laguan @Katsu08 @e-azocar

[2022-05-07 16:08] arodriguezl9302 commented on #131
I would like to be assigned to this task  @Israel-Laguan @Katsu08 @e-azocar

[2022-05-07 16:08] arodriguezl9302 commented on #134
I would like to be assigned to this task  @Israel-Laguan @Katsu08 @e-azocar

[2022-05-07 22:19] anaPiris opened #135 "Localhost error"
Explanation
Entering  (-run it), (Available Scripts), at the point "Enter localhost:3000 " and/or  localhost:8000 it redirects to a page which gives an error.

current result:
Entering (Parrot-echo -run it) and/or (credit-card-component#available-scripts) allows clicking on "localhost: 3000" and/or "localhost: 8000" where it redirects to a page with an error .

Expected result:
that when entering

[2022-05-07 22:46] anaPiris commented on #121
Israel, the 121 is Roberto's review and the 129 mine, from different pages but if it is the same error, how would that look?

[2022-05-07 23:14] anaPiris opened #136 "Table Of Contents (Location) in Credit Card Component / Tabla De Contenido (Ubicación) En El Componente De Tarjeta De Crédito"
**Explanation:**

The table of contents should be at the very beginning, under "Report a bug 🙋‍♂️ Request feature" for the simple fact that clicking where you are currently would take you back to the right place.

Current result:
Clicking on "Live Version Here" jumps to the top because the page starts with "Live Version Here".

Expected result:
That when clicking on "Live Version Here" it jumps do

[2022-05-07 23:37] anaPiris opened #137 "Table Of Contents(Tip) In Credit Card Component / Tabla De Contenido (Consejo) En El Componente De Tarjeta De Crédito"
**Explanation:**

The table of contents should not be self-contained, as a suggestion and practicality to find the topic you want, if it would look good from the topic you are standing on, have an item that leads directly to the table of contents to reselect a topic.

Current result:
When you get to the table of contents, you can see that there is a topic called table of contents and when you clic

[2022-05-08 01:20] anaPiris opened #138 "Error when entering "Collaborators""
Explanation
In the option "Collaborators" it indicates "3", but when entering it shows the page but does not load the information.

Current result:
When entering Collaborators, it shows the page but does not load the information.

Expected result:
That when entering Collaborators, show the page and load the information.

Screen size:
all screens

Screenshots
![image](https://user-images.githubuser

[2022-05-08 01:44] roberto-97c opened #139 "Remove Releases and Packages - Restaurant-Page"
### Explanation
It is recommended to remove Releases and Packages as they have not published content.

**Actual result:** Releases and Packages without published content.

**Expected result:** That there are no Releases or Packages since they have not published content.

*Screen size:* all screen

### Screenshots

Our:
![image](https://user-images.githubusercontent.com/103531307/167278257-850e1f22

[2022-05-08 01:48] anaPiris opened #140 "Error on page "Israel-Laguan" at:"About""
Explanation
In "About" you do not have the link that explains the content of the page.

Current result:
When entering the page "Israel-Laguan", in "About" there is no link that explains the content of the page.

Expected result:
That when entering the page "Israel-Laguan", in "About" it shows the link that explains the content of the page.

Screen size:

the whole screen

screenshots
![image](http

[2022-05-08 01:58] roberto-97c opened #141 "Change Image - Restaurant-Page / Cambiar Imagen - Página Del Restaurante"
### Explanation:

It is recommended to change the image for one more in line with the page, so that the user when viewing the image understands the content of the page.

**Actual result:** The image does not match the content of the page.

**Expected result:** That there is an image according to the content of the page.

*Screen size:* The whole screen.

### Screenshots:
Our:
![image](https://user

[2022-05-08 02:00] anaPiris opened #142 "Redirect Error When Clicking "Tools" / Error De Redireccionamiento Al Hacer Clic En "Herramientas""
Explanation:

 In "My Favorite Tools", clicking each of the links does not take you to the correct page.

Current result:
Entering "My Favorite Tools" and clicking on a link does not display the corresponding page.

Expected result:
That when entering "My favorite tools" and clicking on a link, it shows the page that corresponds to it.

Screen size:
Full size.

Screenshots:

![image](https://user-

[2022-05-08 02:07] roberto-97c opened #143 "Fix Link Error - Restaurant-Page / Solucionar Error De Enlace - Página De Restaurante"
### Explanation:

It is recommended to correct the link error since clicking does not open.

**Current result:** Clicking on the link shows an error on the page.

**Expected result:** Open to the next page when you click.

*Screen size:* The whole screen

### Screenshots:

Our:
![image](https://user-images.githubusercontent.com/103531307/167278749-b185f0d2-0360-427f-a15a-6f84bec8a1df.png)

### Che

[2022-05-08 02:14] anaPiris opened #144 "Error in redirect when clicking on "tools""
Explanation
In "tools" when clicking on each topic it does not redirect to the correct page, but they all show the same information about Israel Laguan

Current result:
Entering "tools" and clicking on a topic does not show the page that corresponds to the title, but instead shows information about Israel Laguan.

Expected result:
That when entering "tools" and clicking on a topic, it shows the pa

[2022-05-08 02:18] roberto-97c opened #145 "Add description link - Codes-Biblion"
### Explanation
It is recommended to add a content link, it is also recommended to remove the Releases and Packages since they do not have published content.

**Actual result:** There is no content link, Releases and Packages have no published content.

**Expected result:** That there is a content link, that the Releases and Packages are eliminated since they do not have published content.

*Scree

[2022-05-08 02:27] anaPiris opened #146 "Check That The Repository Name In The Tag Is Correct / Verifique Que El Nombre Del Repositorio En La etiqueta Sea Correcto"
Explanation:

When clicking on the Issues-Open/Closed label, it should show only the issues that have been opened/closed, as appropriate, but it shows information that does not correspond to the one selected.
The solution would be to check that the repository name in the tag is correct.

Current result:
Clicking on the Open or /Closed Issues tag does not display the correct information.

Expected

[2022-05-08 02:28] roberto-97c opened #147 "Remove Asterisks - Codes-Biblion / Eliminar Asteriscos - Codes-Biblion"
### Explanation:

It is recommended to remove asterisks at the beginning of the styles, this to make it look better.

**Current result:** Asterisks to the left of styles.

**Expected result:** There are no asterisks in that part of the presentation.

*Screen size:* The whole screen.

### Screenshots:

Our:
![image](https://user-images.githubusercontent.com/103531307/167279169-318ac0c5-a432-468a-a8

[2022-05-08 15:46] roberto-97c opened #148 "Releases and Packages Without Content - Using-Bootstrap"
### Explanation:

It is recommended to remove Releases and Packages as they have no published content.

**Current result:** Releases and Packages do not have published content.

**Expected result:** That the Releases and Packages are not there since they do not have published content.

*Screen size:* The whole screen.

### Screenshots:

Our:
![image](https://user-images.githubusercontent.com/10353

[2022-05-08 15:56] roberto-97c opened #149 "Clean Branches - MathMagicians-Calculator"
### Explanation:

It is recommended to clean the branches so that the repository is cleaner.

**Current result:** There are 9 branches.

**Expected result:** Let there be fewer branches.

*Screen size:* The whole screen.

### Screenshots:

Our:
![image](https://user-images.githubusercontent.com/103531307/167304379-57c99c09-0a51-4214-8144-386975bebeaa.png)

### Checklist:

This issue can be closed

[2022-05-09 11:37] angelik0828 commented on #129
yes, it is the same error, but there is a difference in the link where it is being seen, it is a different repository

![image](https://user-images.githubusercontent.com/4030477/167402706-5f9fbd92-3593-4ce7-96c2-db4f10568cb7.png)
![image](https://user-images.githubusercontent.com/4030477/167402730-d9b1165c-2612-4e50-a4f4-b358d8ff4b1f.png)

[2022-05-09 11:47] angelik0828 commented on #131
when this task is reviewed and ready we will notify you, thank you for your interest

[2022-05-09 14:20] heliomar-pena commented on #131
@Israel-Laguan this repo doesn't have page / package, it's simply documentation. @Israel-Laguan can you confirm please if this is a valid issue?

[2022-05-09 15:12] roberto-97c opened #150 "Remove Releases And Packages - MathMagicians-Calculator"
### Explanation:

It is recommended to remove Releases and Packages as they have no published content.

**Current result:** Releases and packages do not have published content.

**Expected result:** That the Releases and packages are not there since they do not have published content.

*Screen size:* The whole screen

### Screenshots:

Our:
![image](https://user-images.githubusercontent.com/103531

[2022-05-09 15:26] roberto-97c opened #151 "Change Styles - MathMagicians-Calculator / Cambiar Estilos - MathMagicians-Calculator"
### Explanation:

It is recommended to switch to larger styles to make it look better presented visually.

**Current result:** The styles are very small.

**Expected result:** Let the styles be larger.

*Screen size:* The whole screen

### Screenshots:

Our:
![image](https://user-images.githubusercontent.com/103531307/167443315-6175b936-b0de-4106-9397-f18ee0693a7a.png)

### Checklist:

This issue

[2022-05-09 15:38] roberto-97c opened #152 "Change Image - MathMagicians-Calculator / Cambiar Imagen - MathMagicians-Calculator"
### Explanation:

It is recommended to change the image for one more in line with the content of the page.

**Current result:** Image does not match the content.

**Expected result:** That there is an image according to the content.

*Screen size:* Full screen.

### Screenshots:
Our:
![image](https://user-images.githubusercontent.com/103531307/167445707-40a22a90-853e-41d7-973a-f10e9ac9519e.png)

#

[2022-05-09 16:03] roberto-97c opened #153 "Link Error - MathMagicians-Calculator / Error En El Enlace - MathMagicians-Calculator"
### Explanation:

It is recommended to correct the bug in the link since it does not open when clic.
### Explanation:
The link is invalid.

**Current result:** The link does not work.

**Expected result:** Make the link open when  clicking.

*Screen size:* Full screen.

### Screenshots:
Our:
![image](https://user-images.githubusercontent.com/103531307/167450463-10452489-ecb2-44b5-b903-a7ec7b952c4f

[2022-05-09 16:18] Israel-Laguan commented on #120
Just to be clear, this "LINK" involves deploy the repo code into something like netlify or similar

[2022-05-09 16:36] Israel-Laguan commented on #134
I think current behavior when clicking the image or name is expected

Maybe would be good to talk how we would like these things to work

[2022-05-09 16:36] #134 closed

[2022-05-09 16:44] roberto-97c opened #154 "Add Link - Library / Añadir Enlace -Library"
### Explanation:

Implement code so that it can be a link on the content to put in About.

**Current result:** there is no implemented code to put in About, Releases and packages have no published content.

**Expected result:** That there is code implemented that is a link in the content in About, that there are no Releases and packages since they do not have published content.

*Screen size:* Ful

[2022-05-09 17:16] roberto-97c opened #155 "Change Image - Library / Cambiar Imagen - Biblioteca"
### Explanation:

It is recommended to change the image for another more related to the content.

**Current result:** The published image is not related to the content.

**Expected result:** That the image is related to the content.

*Screen size:* Full screen.
### Screenshots:
Our:
![image](https://user-images.githubusercontent.com/103531307/167462631-8b2d5320-d07f-44a3-ba7c-7ffeb12c51a2.png)

##

[2022-05-09 17:23] #135 closed

[2022-05-09 18:04] Israel-Laguan commented on #131
Yeah, I think it's not valid

please see if something in the original repo can be useful

https://github.com/stevemao/github-issue-templates

[2022-05-09 18:04] #131 closed

[2022-05-09 18:23] roberto-97c opened #156 "Clean Branches - Irla-Facebook"
### Explanation:

It is recommended to clean branches so that the repository is cleaner.

**Current result:** There are 10 branches in the repository.

**Expected result:** Let there be fewer branches.

*Screen size:* The whole screen.

### Screenshots:

Our:
![image](https://user-images.githubusercontent.com/103531307/167472893-f3fe3bed-a1e2-47a4-8202-9c9a75bbc11b.png)

### Checklist:

This issue

[2022-05-09 18:47] roberto-97c opened #157 "Change Styles - Irla-Facebook / Cambiar Estilos - Irla-Facebook"
### Explanation:
The styles are very small, it is recommended to exchange them for larger styles.

**Current result:** The styles are very small.

**Expected result:** Make the styles bigger.

*Screen size:* Full screen.

### Screenshots:
Our:
![image](https://user-images.githubusercontent.com/103531307/167476691-b4cc4f51-eeb5-4754-80e0-f67e9d46c215.png)

### Checklist:

This issue can be closed w

[2022-05-09 20:40] e-azocar commented on #132
@Israel-Laguan what do you think can be the link in "Read the Article"?

[2022-05-09 20:44] Israel-Laguan commented on #132
In the original README there was an article that referenced the repo, but in most of the others repos there is no article to reference.

I think the task should be "Erase the link that says Read the Article"

[2022-05-09 20:46] e-azocar commented on #128
@Israel-Laguan is this repo deployed? And, is it necessary add a link in the about section?

[2022-05-09 20:48] e-azocar commented on #132
@anaPiris please change the issue to "Erase the link that says Read the Article"

[2022-05-09 20:49] Israel-Laguan commented on #128
Hmm nope, I think the tasks related to "Link" should be "Create a deploy of the code"

[2022-05-09 20:52] e-azocar commented on #126
@Israel-Laguan the same thing happens here as in #128

[2022-05-09 20:55] Israel-Laguan commented on #126
In this case is a different repo, I think is no duplicate

[2022-05-09 20:56] Israel-Laguan commented on #126
But the solution mentioned in the other PR can be applied here too

[2022-05-09 21:19] e-azocar commented on #117
@Israel-Laguan can we change those styles with Markdown?

[2022-05-09 21:24] #140 closed

[2022-05-09 21:26] #64 closed

[2022-05-09 21:31] #120 closed

[2022-05-09 21:33] angelik0828 commented on #126
we are adding the problem in a task with the respective links, is it possible to do it like this?, or how should we do it?
@Israel-Laguan

[2022-05-09 21:37] Israel-Laguan commented on #117
Hmm maybe we would need to check first what is possible, then propose a valid way to improve

[2022-05-09 21:37] Israel-Laguan commented on #126
I think each repo should have different task

[2022-05-09 23:53] anaPiris opened #158 "Blurred images"
### Explanation
When entering the page "overtime-app/desired state" the images are not clear and it is not legible.

**Actual result:**
When entering the page reaching "desired state" the images are not clear and the letter is not legible.

**Expected result:**
That when entering the page reaching "desired state" the images are clear and the letter legible.

*Screen size:*
all screens

### Screens

[2022-05-10 00:51] anaPiris opened #159 "Page Header Or Title At The Top Of The Page"
### Explanation:

When entering the page "overtime-app/ at the top of the page there is no start equal to the other pages, which makes it look like a page off, it lacks images and color at the beginning.

**Actual result:**
When entering the page there is no header with images and/or color as in the other pages.

**Expected result:**

That when entering the page at the beginning, a header with ima

[2022-05-10 01:21] anaPiris opened #160 "Link to send email"
### Explanation
When entering the page in "Author-email" clicking on email leads to another page that does not correspond to the email.

**Actual result:**
When entering the page in "Author-email", clicking on email redirects to another page that is not for email..

**Expected result:**
That when entering the page in "Author-email", clicking on email shows the page to send an email.

*Screen size:

[2022-05-10 13:59] heliomar-pena commented on #86
Thanks u!

[2022-05-10 13:59] heliomar-pena commented on #85
Good work!

[2022-05-10 14:00] #85 closed

[2022-05-10 14:00] heliomar-pena commented on #84
Good work!

[2022-05-10 14:00] #84 closed

[2022-05-10 14:00] heliomar-pena commented on #83
Good work!

[2022-05-10 14:11] heliomar-pena commented on #69
Fixed, please check in this link:

[Gatsby](https://wwwsimplepracticegatsbystaging-fixvariousfixes.gtsb.io/whats-new/a-new-way-to-remind-clients-to-complete-paperwork/)
[Original](http://spgatsbystg.wpengine.com/whats-new/a-new-way-to-remind-clients-to-complete-paperwork/)

[2022-05-10 14:13] heliomar-pena commented on #72
This was done by simple practice's developers

[2022-05-10 14:14] heliomar-pena commented on #77
I will check this issue

[2022-05-10 14:38] angelik0828 commented on #31
fixed!!

[2022-05-10 14:41] angelik0828 commented on #53
fixed!!
![image](https://user-images.githubusercontent.com/4030477/167655539-2ccd1228-7869-4e86-a803-5ac8fa9f9efe.png)

[2022-05-10 15:03] angelik0828 commented on #69
the size is not correct the size varies by 2 px on different screens, It should be considered?
![image](https://user-images.githubusercontent.com/4030477/167659650-3c88e39b-0d08-4e44-8221-99e5ed05a4a3.png)
![image](https://user-images.githubusercontent.com/4030477/167659688-5a2ab7f7-851d-4183-89f9-84f41cf1868e.png)
![image](https://user-images.githubusercontent.com/4030477/167660381-d84db7c1-314f-

[2022-05-10 15:03] #69 closed

[2022-05-10 19:22] heliomar-pena commented on #69
Thanks @angelik0828 I'll check that error

[2022-05-10 20:49] Israel-Laguan commented on #142
I think those are not intended to be links. I can propose to change to links to the pages for each project

[2022-05-10 20:54] Israel-Laguan commented on #144
I think this is a duplicate of #142, as that are not buttons or links

[2022-05-10 20:55] Israel-Laguan commented on #146
This description is not accurate @anaPiris

About the incorrect data, you are right

[2022-05-10 20:56] Israel-Laguan commented on #146
Solution would be to check the name of the repository on the label is correct, maybe is pointing to another repo

[2022-05-10 20:57] Israel-Laguan commented on #145
This one don't need a link as is not a page to be deployed

[2022-05-10 20:57] #145 closed

[2022-05-10 21:08] roberto-97c opened #161 "Image does not match the content - irla-facebook"
### Explanation
It is recommended to change the image for one more in line with the content.

**Actual result:** Published image is not consistent with the content.

**Expected result:** That there is an image according to the content.

*Screen size:* all screen

### Screenshots

Our:
![image](https://user-images.githubusercontent.com/103531307/167722011-6f53b85e-f199-4a95-bdd6-d3e0d4176d01.png)

[2022-05-10 21:11] Israel-Laguan commented on #152
@angelik0828 in this case what image you propose?

[2022-05-10 21:12] Israel-Laguan commented on #154
Please modify text to something like "Deploy code so it can be a link to put on About", as the real solution here is to deploy

[2022-05-10 21:13] Israel-Laguan commented on #155
@angelik0828 what image you can propose?

[2022-05-10 21:15] Israel-Laguan commented on #158
In this case the source was like that, so this is invalid

[2022-05-10 21:15] #158 closed

[2022-05-10 21:19] Israel-Laguan commented on #160
This will be addressed on #117

[2022-05-10 21:19] #160 closed

[2022-05-10 21:21] Israel-Laguan commented on #138
This is a bug from Github, so this is invalid

[2022-05-10 21:21] #138 closed

[2022-05-10 21:25] roberto-97c opened #162 "Remove Releases and Packages - Irla-Facebook"
### Explanation:

It is recommended to remove Releases and Packages, as these do not have published content.

**Actual result:** Releases and Packages do not have published content.

**Expected result:** That the Releases and Packages are eliminated.

*Screen size:* All screens.

### Screenshots:

Our:
![image](https://user-images.githubusercontent.com/103531307/167724393-a8b9060a-a374-4e84-a4c6-2

[2022-05-10 21:27] anaPiris commented on #142
Thanks Irsael, that's what I asked Angelica to see if she really should redirect

[2022-05-10 21:28] Israel-Laguan commented on #142
They can redirect, but to the tools webpage, @e-azocar or @angelik0828 can check which are those pages

[2022-05-10 21:42] roberto-97c opened #163 "add image - Design-your-own-Framework"
### Explanation
It is recommended to add an image to the README, which is consistent with the content.

**Actual result:** There is no image in the README presentation.

**Expected result:** That there is an image that is consistent with the content.

*Screen size:* all screen

### Screenshots

Our:
![image](https://user-images.githubusercontent.com/103531307/167726518-5490191f-3855-4073-ae6e-3d3d

[2022-05-10 21:43] Israel-Laguan commented on #163
@angelik0828 what image do you propose?

[2022-05-10 21:55] roberto-97c opened #164 "Remove Releases and Packages - Design-your-own-Framework"
### Explanation:

It is recommended to remove Releases and Packages, as these do not have published content.

**Current result:** Releases and Packages do not have published content.

**Expected result:** Releases and Packages are removed.

*Screen size:* The whole screen.

### Screenshots:

Our:
![image](https://user-images.githubusercontent.com/103531307/167728051-ca0a0687-de36-472e-8014-1095ac6

[2022-05-10 22:10] roberto-97c commented on #154
Taking into account the suggestions, the text was modified, Thank you.

[2022-05-10 22:31] roberto-97c opened #165 "Implement Image According To Content - Design-Teardown / Implementar Imagen Según Contenido - Design-Teardown"
### Explanation:

It is recommended to implement an image in README that is consistent with the content and allows the user to understand at a glance what the content is about.

**Current result:**
 There is no image in README that allows to understand the content.

**Expected result:**
 There is an image implemented in README, which allows the user to understand the content.

*Screen size:*
 Full

[2022-05-10 22:44] roberto-97c opened #166 "Remove Releases and Packages - Design-Teardown"
### Explanation
It is recommended to remove Releases and Packages as they have no published content.

**Actual result:** Releases and Packages do not have published content.

**Expected result:** That the Releases and Packages are eliminated.

*Screen size:* all screen

### Screenshots

Our:
![image](https://user-images.githubusercontent.com/103531307/167733760-e37c91e0-2245-466f-b573-8137661e7740

[2022-05-10 23:05] anaPiris opened #167 "Action error when clicking on an image"
### Explanation
When entering the page and clicking on the images, a redirection is made that should not occur, since this is an image that completes the content of the page.

**Actual result:**
Entering the page and clicking on an image redirects to another page.

**Expected result:**
That when entering the page and clicking on an image does not perform any action.

*Screen size:*
all screens

##

[2022-05-11 00:25] anaPiris opened #168 "The "MIT" Link Does Not Redirect To The Correct Page / El Enlace "MIT" No Redirige A La Página Correcta"
### Explanation:
Entering the page and clicking on "MIT" does not redirect to the corresponding page.

**Current result:**
Entering the page and clicking on "MIT" does not redirect to the corresponding page.

**Expected result:**
That when entering the page and clicking on "MIT" you redirect to the corresponding page.

*Screen size:*
Full screen.
### Screenshots:

![image](https://user-images.gith

[2022-05-11 00:36] anaPiris opened #169 "The "LICENSE.md " Link Does Not Redirect To The Correct Page / El Enlace "LICENSE.md" No Redirige A La Página Correcta"
### Explanation:
Entering the page and clicking on "LICENSE.md" does not redirect to the corresponding page.

**Current result:**
Entering the page and clicking on "LICENSE.md" does not redirect to the corresponding page.

**Expected result:**
That when entering the page and clicking on "LICENSE.md" redirect to the corresponding page.

*Screen size:*
Full screen.

### Screenshots
![image](https://

[2022-05-11 14:19] Israel-Laguan commented on #167
This behavior can not be changed, so its invalid

[2022-05-11 14:19] #167 closed

[2022-05-11 14:20] Israel-Laguan commented on #167
It's a github thing, so we can not modify

[2022-05-11 14:44] roberto-97c opened #170 "Clean Branches - Design-Teardown"
### Explanation:

It is recommended to clean repository branches as there are many.

**Current result:** There are 8 branches on the page.

**Expected result:** Let there be fewer branches.

*Screen size:* The whole screen.

### Screenshots:

Our:
![image](https://user-images.githubusercontent.com/103531307/167877670-f76296f6-2fca-413c-95a5-5e0dfea17eae.png)

### Checklist:

This issue can be clos

[2022-05-11 14:57] roberto-97c opened #171 "Remove Releases and Packages - Microverse-Trial-2"
### Explanation:

It is recommended to remove Releases and Packages as they have no published content.

**Current result:**
 Releases and Packages do not have published content.

**Expected result:**
 That the Releases and Packages are not there since they do not have published content.

*Screen size:*
 Full screen.

### Screenshots:

Our:
![image](https://user-images.githubusercontent.com/1035313

[2022-05-11 15:09] anaceciliamolinares commented on #169
No veo las referencias.

[2022-05-11 16:24] anaceciliamolinares commented on #132
I cannot see the screen size. Please fix it.

[2022-05-11 16:54] angelik0828 commented on #152
it could be something like that
![imagen](https://user-images.githubusercontent.com/4030477/167905004-9c3307d4-be24-4774-ad58-545da2da65b7.svg)

[2022-05-11 17:32] anaPiris opened #172 "Missing description and details of the project."
### Explanation
When entering the page, everything is missing, description and details of the project.

**Actual result:**
When entering the page you have no information regarding the subject referred to in the title.

**Expected result:**
That when entering the page you see information regarding the topic that the title refers to..

*Screen size:*
all screens

### Screenshots
![image](https://use

[2022-05-11 18:28] anaPiris opened #173 "Images and photos vs redirect"
### Explanation
When entering the page and clicking on a representative image or photo, it redirects to another page, not meaning this is a necessary fact according to the purpose of the object.

**Actual result:**
When entering the page and clicking on an image or photo, it redirects to another page without this being the objective of it.

**Expected result:**
That when entering the page and clic

[2022-05-11 18:30] Israel-Laguan commented on #172
This was a repo from another organization, so I was not able to change such things.

[2022-05-11 18:30] #172 closed

[2022-05-11 18:47] roberto-97c opened #174 "Change Image "Building-with-Backgrounds-And-Gradients" / Cambiar Imagen "Building-with-Backgrounds-And-Gradients""
### Explanation:
The image that exists is not consistent with the content, it is recommended to implement an image that is consistent with the content.

**Current result:**
The image does not match the content of the page.

**Expected result:**
That there is an image according to the content of the page.

*Screen size:*
 Full screen.

### Screenshots:
Our:
![image](https://user-images.githubuserco

[2022-05-11 18:54] anaPiris opened #175 "Missing Content On The Page That References The Page Title / Falta Contenido En La Página Que Hace Referencia Al Título De La Página"
### Explanation:
When entering the page, there is no information to what the title refers to, there is only the table of contents with the corresponding information, a screen of another page is attached that if it has the information regarding the reason for the title is mentioned.

**Current result:**
When entering the page, there is no information regarding the title that the page mentions.

**E

[2022-05-11 19:00] roberto-97c opened #176 "Remove Releases and Packages "Building-with-Backgrounds-and-Gradients""
### Explanation
The Releases and Packages do not have published content, it is recommended to delete them.

**Actual result:** Releases and Packages do not have published content.

**Expected result:** That the Releases and Packages are not, since they do not have published content.

*Screen size:* all screen

### Screenshots

Our:
![image](https://user-images.githubusercontent.com/103531307/16792

[2022-05-11 20:25] Israel-Laguan commented on #173
This behavior can not be controlled by us, so this issue is invalid

[2022-05-11 20:25] #173 closed

[2022-05-11 20:25] Israel-Laguan commented on #174
@angelik0828 what image do you recommend?

[2022-05-11 20:26] Israel-Laguan commented on #175
It will need some proposal, maybe @anaceciliamolinares can help?

[2022-05-11 21:07] angelik0828 commented on #155
We could see it, make an image referring to a bookstore

[2022-05-11 21:28] angelik0828 commented on #163
we could make an image of a grid or something similar to reference

[2022-05-11 22:03] e-azocar commented on #142
Those tools are Javascript, React, Node, PostgreSQL, items like these. I think they can redirect to the documentation of each one of them

[2022-05-11 22:14] e-azocar commented on #143
That link is only for documentation, so, I think isn't necessary change it

[2022-05-11 22:30] e-azocar commented on #153
That link is only for documentation, so, I think isn't necessary change it

[2022-05-12 15:11] roberto-97c opened #177 "Change Image - Microverse-Basic-HTML-Proyect-One / Cambiar Imagen - Microverse-Basic-HTML-Proyect-One"
### Explanation:

The image that exists is not consistent with the content. It is recommended to implement an image that is consistent with the content.

**Current result:**
The image does not match the content of the page.

**Expected result:**
That there is an image according to the content of the page.

*Screen size:* Full screen.

### Screenshots:
Our:
![image](https://user-images.githubuserco

[2022-05-12 15:25] roberto-97c opened #178 "Remove Releases and Packages / Microverse-Basic-HTML-Proyect-One"
### Explanation
It is recommended to remove Releases and Packages as they have no published content.

**Actual result:** Releases and Packages do not have published content.

**Expected result:** That the Releases and Packages are not there since they do not have published content.

*Screen size:* all screen

### Screenshots

Our:
![image](https://user-images.githubusercontent.com/103531307/168110

[2022-05-12 15:34] roberto-97c opened #179 "Remove Releases and Packages / rails-2.5-app"
### Explanation
It is recommended to remove Releases and Packages as they have no published content.

**Actual result:** Releases and Packages do not have published content.

**Expected result:** That the Releases and Packages are not there since they do not have published content.

*Screen size:* all screen

### Screenshots

Our:
![image](https://user-images.githubusercontent.com/103531307/168113

[2022-05-12 16:11] roberto-97c opened #180 "Remove Releases And Packages / Vscode-Extension-React-Snippets / Eliminar Versiones Y Paquetes / Vscode-Extension-React-Snippets"
### Explanation:

It is recommended to remove Releases and Packages as they have no published content.

**Actual result:**
Releases and Packages do not have published content.

**Expected result:**
That the Releases and Packages are not there since they do not have published content.

*Screen size:* Full screen.

### Screenshots:
Our:
![image](https://user-images.githubusercontent.com/103531307/16

[2022-05-12 16:24] roberto-97c opened #181 "Remove Releases and Packages / Dotfiles / Quitar Versiones Y Paquetes/Dotfiles"
### Explanation:

It is recommended to remove Releases and Packages as they have no published content.

**Current result:**
Releases and Packages do not have published content.

**Expected result:**
 That the Releases and Packages are not there since they do not have published content.

*Screen size:* Full screen.

### Screenshots:
Our:
![image](https://user-images.githubusercontent.com/103531307/

[2022-05-12 21:20] anaceciliamolinares commented on #175
Saludos. El issue ya fue revisado aunque no tiene la validación de
Angélica. Pero si dsps de pasar por la validación se encontraran algunos
detalles para corregirlo, se hará sin ningún problema.

On Wed, May 11, 2022, 3:26 PM Israel Antonio Rosales Laguan <
***@***.***> wrote:

[2022-05-12 21:27] anaceciliamolinares commented on #175
There are also some issues to be corrected. This only lacks validation and
reviewing from Emm and Angélica for the last grammar review.

On Thu, May 12, 2022, 4:20 PM Ana cecilia Molinares <
***@***.***> wrote:

[2022-05-13 01:47] mdrianislam0or1 commented on #175
How can I solve this issue?is there any result screen short?

[2022-05-13 01:53] mdrianislam0or1 commented on #177
is it that changing the image depends on the contents?

[2022-05-13 02:19] mdrianislam0or1 commented on #174
@Israel-Laguan i add a image that is related to the content and create a pull request in that project.
![change-img](https://user-images.githubusercontent.com/67714964/168198278-a18b963e-dc41-42e8-9192-c20b0af16122.jpg)

[2022-05-13 02:22] mdrianislam0or1 commented on #174
@Israel-Laguan is it that changing the image depends on the contents?

[2022-05-13 02:23] mdrianislam0or1 commented on #177
@Israel-Laguan i add an image related to the content and create a pull request.
![change-img](https://user-images.githubusercontent.com/67714964/168198876-259e598a-1e2c-401e-8b2d-4e792e982dee.jpg)

[2022-05-13 02:44] mdrianislam0or1 commented on #152
I created a pull request on that project.

[2022-05-13 13:10] e-azocar commented on #169
@anaPiris please add the repository link

[2022-05-13 13:44] mdrianislam0or1 commented on #163
can I add any CSS grid-type images?

[2022-05-13 13:51] mdrianislam0or1 commented on #161
what kind of images can I use?is it about microverse?

[2022-05-13 13:54] mdrianislam0or1 commented on #159
Any recommended image for this project?

[2022-05-13 15:54] mdrianislam0or1 commented on #163
I created a pull request in that project.
![pull-req](https://user-images.githubusercontent.com/67714964/168321373-a37c724f-661a-436c-ab22-ee71920d42d1.jpg)

[2022-05-13 16:31] #179 closed

[2022-05-13 16:31] mdrianislam0or1 commented on #161
I created a pull request in that project.

![irlaMatchImg](https://user-images.githubusercontent.com/67714964/168327565-80619fee-5738-4d96-b95a-316f31237dd7.jpg)

[2022-05-13 16:32] #178 closed

[2022-05-13 16:33] #176 closed

[2022-05-13 16:36] angelik0828 commented on #171
![image](https://user-images.githubusercontent.com/4030477/168328074-8f6c4d6c-a3bc-4594-84f1-ba72001139d2.png)
in this repository this was due to some error in the upload ?

[2022-05-13 16:37] #170 closed

[2022-05-13 16:37] #166 closed

[2022-05-13 16:41] #164 closed

[2022-05-13 16:42] #162 closed

[2022-05-13 16:53] angelik0828 opened #182 "The Image Displayed On The Profile Is Incomplete / La Imagen Que Se Muestra En El Perfil Está Incompleta"
### Explanation:
The image shown on the profile is incomplete.

**Current result:**
 The developer profile does not have an image showing the languages it handles.

**Expected result:**
 A developer image should appear showing which languages ​​it supports.

*Screen size:* ( Fullscreen )

### Screenshots:
![image](https://user-images.githubusercontent.com/4030477/168329820-9a885f2f-c94a-469b-b8a3-

[2022-05-13 17:05] angelik0828 commented on #159
this is already solved

[2022-05-13 17:05] #159 closed

[2022-05-13 17:06] #156 closed

[2022-05-13 17:08] #150 closed

[2022-05-13 17:08] #149 closed

[2022-05-13 17:09] #148 closed

[2022-05-13 17:58] mdrianislam0or1 commented on #165
I created a pull request in that repo.

![fixtreardrown](https://user-images.githubusercontent.com/67714964/168340958-b2eb8d0a-75b7-47e0-97fd-ab89b5e3d8df.jpg)

[2022-05-13 18:09] mdrianislam0or1 commented on #182
The image represents what kind of language knows the developer.is it about adding the image everywhere?

[2022-05-13 18:24] Eghinner commented on #137
I want to take it

[2022-05-13 18:25] Eghinner commented on #136
I want to take it

[2022-05-13 18:29] mdrianislam0or1 commented on #118
Implement Better Image.

![fix1](https://user-images.githubusercontent.com/67714964/168345159-4fadde1d-bc8b-4741-a8f6-60cace6dc789.jpg)

[2022-05-13 18:55] mdrianislam0or1 commented on #113
Added Missing Contents

![1](https://user-images.githubusercontent.com/67714964/168355621-4ac42781-0ba7-45f0-90d2-a47e6578d18c.jpg)

[2022-05-15 07:20] Israel-Laguan commented on #174
Hmm maybe some image related to gradients in CSS?

[2022-05-15 16:42] mdrianislam0or1 commented on #141
Changed Image with the content.

![fix](https://user-images.githubusercontent.com/67714964/168484001-db040a26-204a-4d58-be33-60c923b275c2.jpg)

[2022-05-16 10:28] mdrianislam0or1 commented on #155
Changed image related to the content.

![fix](https://user-images.githubusercontent.com/67714964/168573478-259af342-0ffe-4f81-8970-b24fec0d4d68.jpg)

[2022-05-16 10:51] mdrianislam0or1 commented on #174
changed image related with the content.

![fix](https://user-images.githubusercontent.com/67714964/168577249-94b50695-5db2-40c6-a88e-ef0dddc9aa40.jpg)

[2022-05-16 13:33] heliomar-pena commented on #141
@Israel-Laguan @angelik0828 What do you think about the image?

[2022-05-16 13:33] heliomar-pena commented on #141
@mdrianislam0or1
Could you remove the background? You can use this online tool: https://www.remove.bg/ just uplaod the image and click on "Remove BG"

[2022-05-16 13:44] heliomar-pena commented on #113
Can you add a link to test your solution?

[2022-05-16 13:46] heliomar-pena commented on #136
@Eghinner now you're assigned

[2022-05-16 13:54] mdrianislam0or1 commented on #112
Edit Readme file.

![reporting](https://user-images.githubusercontent.com/67714964/168608836-7a6073b2-d564-4018-bdeb-5ae0f9ae1e66.jpg)

[2022-05-16 13:59] Israel-Laguan commented on #171
Yes, was mistake, should be fixed

[2022-05-16 14:03] Israel-Laguan commented on #141
I think @angelik0828 should confirm, I am ok with that one

[2022-05-16 14:13] angelik0828 commented on #141
I think it may have the white background.

[2022-05-16 14:40] Israel-Laguan commented on #141
Maybe you meant Transparent background?

[2022-05-16 15:33] angelik0828 commented on #141
yes I meant , I think it would look better without the white background

[2022-05-16 16:45] #171 closed

[2022-05-16 21:04] heliomar-pena commented on #112
@mdrianislam0or1 can you please add a link to test your solution?

[2022-05-16 21:25] e-azocar commented on #111
That link needs the app running, so, I think we should leave it like this

[2022-05-17 02:51] Israel-Laguan commented on #111
Oh, the solution is to convert to a normal string, so instead of [http://localhost:3000]() (<-- note is blue) just has to be converted to `http://localhost:3000`

[2022-05-17 06:39] Coolhatena commented on #147
Done, i already sent the pull request to solve the issue  -Eduardo Rivera

[2022-05-17 07:34] Coolhatena commented on #168
I want to take this one -Eduardo Rivera

[2022-05-17 08:04] Coolhatena commented on #168
I already sent the necessary Pull request to solve the issue

[2022-05-17 08:13] Coolhatena commented on #169
I want to solve this one -Eduardo Rivera

[2022-05-17 08:17] Coolhatena commented on #169
From what I see in the screenshot this is the repo link: https://github.com/Israel-Laguan/Tic-Tac-Toe, I already sent the necessary pull request to resolve the issue

[2022-05-17 08:51] Coolhatena commented on #88
Hi, i want to take this issue, where can I find the repos with the components that need testing?

[2022-05-17 13:26] mdrianislam0or1 commented on #175
Created pull request.

[2022-05-17 13:54] anaPiris commented on #169
@e-azocar disculpas, ya lo agregué.

[2022-05-17 14:10] heliomar-pena commented on #77
Working on branch fix/FeatureHeroVideo-fix-size

[2022-05-17 14:22] heliomar-pena commented on #77
[PR Here](https://github.com/simplepractice/www-simplepractice-gatsby/pull/555)

Waiting for build

[2022-05-17 15:16] heliomar-pena commented on #42
I haven't found the bug that you've mentioned, maybe it's a bug that occurs just on one browser?

But I've noticed that capterra logo is missing, then I've added it and I've fixed the spaces on the reviewers section (stars, capterra logo, HiSecurity logo)

I've fixed this that I mentioned on the branch fix/partnerIndividualBanner-capterra-logo

[PR here](https://github.com/simplepractice/www-simpl

[2022-05-17 19:55] Israel-Laguan commented on #175
Good work!

[2022-05-17 20:50] #12 closed

[2022-05-17 20:55] heliomar-pena commented on #22
I would like try this issue, I remember I've saw something like this on another repo that I was worked

[2022-05-17 20:57] #27 closed

[2022-05-17 20:58] #28 closed

[2022-05-17 20:59] #37 closed

[2022-05-17 21:01] #38 closed

[2022-05-17 21:02] #41 closed

[2022-05-17 21:07] #42 closed

[2022-05-17 21:12] #45 closed

[2022-05-17 21:13] #43 closed

[2022-05-17 21:14] #49 closed

[2022-05-17 21:19] #58 closed

[2022-05-17 21:21] #74 closed

[2022-05-17 21:23] #76 closed

[2022-05-17 21:25] #77 closed

[2022-05-17 21:27] #80 closed

[2022-05-17 21:29] #81 closed

[2022-05-17 21:31] #82 closed

[2022-05-17 21:33] #87 closed

[2022-05-17 21:34] #88 closed

[2022-05-17 21:36] #89 closed

[2022-05-17 21:42] heliomar-pena commented on #88
@Coolhatena please check in the new repo "private-tasks", there was transferred this task

[2022-05-18 01:14] mdrianislam0or1 commented on #97
aligned link with the title

[2022-05-18 10:43] mdrianislam0or1 commented on #113
@Katsu08 What do you want? I added a Pull request to that repo.

[2022-05-18 10:43] mdrianislam0or1 commented on #112
@Katsu08 What do you want? I added a Pull request to that repo.

[2022-05-18 13:01] heliomar-pena commented on #113
Please share the pull request link here to easy access

[2022-05-18 13:01] heliomar-pena commented on #112
Please share here the pull request URL to easy access

[2022-05-18 15:46] mdrianislam0or1 commented on #113
https://github.com/Israel-Laguan/reporting/pull/39

[2022-05-18 15:47] mdrianislam0or1 commented on #112
https://github.com/Israel-Laguan/reporting/pull/40

[2022-05-18 19:34] Dajava02 commented on #102
I have created a solution for this issue, i changed the icon for a link https://github.com/Israel-Laguan/parrot-echo/pull/37

[2022-05-18 19:55] Dajava02 commented on #109
Can I be assigned to this issue?

[2022-05-18 20:30] mdibuhossain commented on #157
I created a [pull request](https://github.com/Israel-Laguan/irla-facebook/pull/3)

![image](https://user-images.githubusercontent.com/59278819/169150354-16c54d51-bd12-478c-ab71-55a6dc5b1a62.png)

Is that ok?

[2022-05-18 20:42] Dajava02 commented on #109
I created a solution for this issue, I increased the size of the buttons https://github.com/Israel-Laguan/TicTacToe-JS/pull/28

[2022-05-18 21:56] angelik0828 commented on #103
@arodriguezl9302 to be able to take this task you must be with the checks that the other tasks have
![image](https://user-images.githubusercontent.com/4030477/169162578-c7c9d8fd-65ad-4bab-9712-c3b365cd17c0.png)

[2022-05-19 00:23] mdrianislam0or1 commented on #130
Is there anyone who already working on that issue?

[2022-05-19 01:19] Dajava02 commented on #115
I made a solution for this issue, I removed "icon by" https://github.com/Israel-Laguan/credit-card-component/pull/17

[2022-05-19 02:29] Dajava02 commented on #105
Can someone assign me this Issue?

[2022-05-19 08:49] mdrianislam0or1 commented on #130
Added related link and content.

![fix](https://user-images.githubusercontent.com/67714964/169253315-54fa337f-c618-4b12-8c20-232094eab990.jpg)

[2022-05-19 17:07] mdrianislam0or1 commented on #182
@e-azocar  should i use <img src="https://raw.githubusercontent.com/Israel-Laguan/Israel-Laguan/master/docs/banner.jpg"/> img in every repository?

[2022-05-19 23:36] mdrianislam0or1 commented on #103
Is that issue ready for work?

[2022-05-20 00:01] mdrianislam0or1 commented on #181
The issue description is not clear. Can you please clear it? There are no Releases and Packages, but you said that remove those? @e-azocar please tell me about it.

[2022-05-20 02:02] mdrianislam0or1 commented on #142
https://github.com/Israel-Laguan/Israel-Laguan/pull/3
https://github.com/Israel-Laguan/proximity-post-it/pull/82
https://github.com/Israel-Laguan/credit-card-component/pull/18
https://github.com/Israel-Laguan/Shopeasy/pull/14
https://github.com/Israel-Laguan/arduino-relay-app/pull/24
https://github.com/Israel-Laguan/israel-laguan.github.io/pull/4
https://github.com/Israel-Laguan/healthy-foodie/pul

[2022-05-20 02:04] mdrianislam0or1 commented on #177
https://github.com/Israel-Laguan/Microverse-Basic-HTML-Proyect-One/pull/4

[2022-05-20 02:06] mdrianislam0or1 commented on #175
https://github.com/Israel-Laguan/microverse-trial-3/pull/3
https://github.com/Israel-Laguan/microverse-trial-4/pull/5
https://github.com/Israel-Laguan/textedit-app/pull/3
https://github.com/Israel-Laguan/yjs-react-example/pull/3

[2022-05-20 02:07] mdrianislam0or1 commented on #174
https://github.com/Israel-Laguan/Building-with-Backgrounds-and-Gradients/pull/8

[2022-05-20 02:07] mdrianislam0or1 commented on #165
https://github.com/Israel-Laguan/Design-Teardown/pull/4

[2022-05-20 02:08] mdrianislam0or1 commented on #155
https://github.com/Israel-Laguan/library/pull/2

[2022-05-20 02:08] mdrianislam0or1 commented on #152
https://github.com/Israel-Laguan/MathMagicians-Calculator/pull/17

[2022-05-20 02:11] mdrianislam0or1 commented on #130
https://github.com/root-code-software/github-issue-templates/pull/1

[2022-05-20 02:12] mdrianislam0or1 commented on #118
https://github.com/Israel-Laguan/HTML-LESS-JS-no-webpack-starter/pull/10

[2022-05-20 02:13] mdrianislam0or1 commented on #97
https://github.com/Israel-Laguan/proximity-post-it/pull/80

[2022-05-20 02:14] mdrianislam0or1 commented on #141
Ok

[2022-05-20 02:20] mdrianislam0or1 commented on #141
![rm](https://user-images.githubusercontent.com/67714964/169435744-7b694104-49be-45f5-b16b-df9c28587943.jpg)

[2022-05-20 02:38] Coolhatena commented on #117
I redid the table using Markdown and now a lot more content is visible in the smaller resolutions, however as github doesn't allow css in Markdown I find kinda epic to display the full content in the 375x633 resolution

Pull request: https://github.com/Israel-Laguan/Shopeasy/pull/15

[2022-05-20 13:56] Israel-Laguan commented on #98
@anaPiris please verify https://github.com/TheRandomCrew/overtime-app/pull/1 if this solves what you found

[2022-05-20 14:03] Israel-Laguan commented on #142
@anaPiris @angelik0828 please check

[2022-05-20 14:10] Israel-Laguan commented on #117
@angelik0828 what do you think would be a good proposal here, visually?

[2022-05-20 15:27] mdrianislam0or1 commented on #163
https://github.com/Israel-Laguan/Design-your-own-Framework/pull/3

[2022-05-20 19:57] Dajava02 commented on #105
I made a solution for this issue, I fixed the space between the texts and logos and activated the link to linkedin https://github.com/Israel-Laguan/fast-shopping-backend/pull/20

[2022-05-21 00:36] anaPiris opened #183 "Change of position of the content according to resolution"
### Explanation
From 1024x633 resolution onwards all content is displayed in different positions from the original.

**Actual result:**
When entering the application for 1024x633 resolution, the images, text and buttons are in different positions compared to the original.

**Expected result:**
That when entering the application for 1024x633 resolution the images, text and buttons are the same as t

[2022-05-22 06:53] Coolhatena commented on #183
Hi, I tried to access the "our" link, but it seems to be down, its correctly written?
![Captura](https://user-images.githubusercontent.com/94434891/169682830-0264f051-11b0-4026-b5c4-470af31a1913.PNG)

[2022-05-22 23:12] anaPiris opened #184 "Title alignment"
### Explanation
For the 768x633 resolution the title text is seen on the left, while in the original it is centered.

**Actual result:**
When entering the application for 768x633 resolution, the title text is observed on the left of the page.

**Expected result:**
That when entering the application for 768x633 resolution the title is seen centered with respect to the page as shown in the original.

[2022-05-23 00:03] anaPiris opened #185 "Back button"
### Explanation
The "go back" indicator located at the top left of the page does not have the corresponding logo as shown in the original and also when clicking does not fulfill the function of going back.

**Actual result:**
When entering the application, the indicator "go back" does not have the corresponding logo and does not fulfill the function of going back when clicking on it.

**Expected r

[2022-05-23 00:30] anaPiris opened #186 "Incorrect text"
### Explanation
The text under the title says "enter your ticket number" and in the original it says "Enter the ticket number" and the letter is in a larger size.

**Actual result:**
When entering the page, under the title it says "enter your ticket number" and it should say "Enter the ticket number" and also the font is larger.

**Expected result:**
That when entering the page, under the title it

[2022-05-23 14:03] e-azocar commented on #182
It's a question for @Israel-Laguan, but, I think that image is ok

[2022-05-23 14:04] e-azocar commented on #181
@mdrianislam0or1 I think this issue is for the repository's owner

[2022-05-23 14:08] e-azocar commented on #180
@Israel-Laguan is this issue only for the repository owner?

[2022-05-23 17:05] Israel-Laguan commented on #182
I think yes, please use the same image in all the repos

[2022-05-23 17:09] Israel-Laguan commented on #180
Yes, I do it manually

[2022-05-24 14:53] angelik0828 commented on #183
@anaPiris   it's in the wrong repository

[2022-05-24 14:53] angelik0828 commented on #185
@anaPiris it's in the wrong repository

[2022-05-24 14:54] angelik0828 commented on #186
@anaPiris it's in the wrong repository

[2022-05-26 12:07] mdrianislam0or1 commented on #182
https://github.com/Israel-Laguan/Microverse-trial-2/pull/3
https://github.com/Azordev/dotfiles/pull/1
https://github.com/Israel-Laguan/irla-facebook/pull/4
https://github.com/Israel-Laguan/MathMagicians-Calculator/pull/20
https://github.com/Israel-Laguan/Using-Bootstrap/pull/3
https://github.com/Israel-Laguan/Restaurant-Page/pull/7

[2022-05-27 00:35] anaceciliamolinares commented on #132
There are other synonyms for erase, such as: "delete, remove, write off, cancel, undo", which are transparent and not as common, but which enrich our vocabulary.

[2022-05-29 21:02] Eghinner commented on #146
I made the possible changes. The other repositories do not have issues enabled.

[2022-05-31 10:41] angelik0828 commented on #169
![image](https://user-images.githubusercontent.com/4030477/171155576-b9f9fda8-c164-4a89-b5a3-b9319297d76c.png)

[2022-05-31 10:45] angelik0828 commented on #168
![image](https://user-images.githubusercontent.com/4030477/171156168-7c10648a-af5b-4a67-89c1-4c974ea3d306.png)

[2022-05-31 10:48] angelik0828 commented on #117
![image](https://user-images.githubusercontent.com/4030477/171156793-d88e7083-f005-439f-a929-fc160b639594.png)

[2022-05-31 10:51] angelik0828 commented on #147
![image](https://user-images.githubusercontent.com/4030477/171157256-fb5f284a-7f2c-4427-bb57-c1abe9a89c70.png)

[2022-05-31 11:00] angelik0828 commented on #182
Everything has been checked!!

[2022-05-31 11:01] angelik0828 commented on #177
Everything has been checked!

[2022-05-31 11:06] angelik0828 commented on #175
Everything has been checked!

[2022-05-31 11:07] angelik0828 commented on #174
![image](https://user-images.githubusercontent.com/4030477/171159883-7eb173d3-2b67-4e63-9c61-4a8ca3923773.png)

[2022-05-31 11:09] angelik0828 commented on #165
![image](https://user-images.githubusercontent.com/4030477/171160170-bf84ed00-2083-4d1e-9b08-58dcf3dda7c0.png)

[2022-05-31 11:10] angelik0828 commented on #163
![image](https://user-images.githubusercontent.com/4030477/171160348-a06c26fa-61aa-4f24-9a58-649d41e35dce.png)

[2022-05-31 11:12] angelik0828 commented on #161
![image](https://user-images.githubusercontent.com/4030477/171160615-7a25ceb8-f543-4025-ae41-375911eea301.png)

[2022-05-31 11:15] angelik0828 commented on #157
![image](https://user-images.githubusercontent.com/4030477/171161061-b7e5506e-c029-42cc-8bea-53cbececc7a9.png)

[2022-05-31 11:16] angelik0828 commented on #155
![image](https://user-images.githubusercontent.com/4030477/171161223-b967d5f9-ae08-43a5-a78a-b306ebb6022b.png)

[2022-05-31 11:20] angelik0828 commented on #153
https://github.com/Israel-Laguan/MathMagicians-Calculator/pull/18#pullrequestreview-990270416
**
![image](https://user-images.githubusercontent.com/4030477/171161836-cb3474d4-c666-46f9-9920-01efacef3716.png)
**

[2022-05-31 11:21] angelik0828 commented on #152
![image](https://user-images.githubusercontent.com/4030477/171162072-3d1380eb-6ab3-436b-9841-a65c3302eb90.png)

[2022-05-31 11:23] angelik0828 commented on #151
![image](https://user-images.githubusercontent.com/4030477/171162249-5bb09dea-1ec5-49d7-81c4-405b6eb34e90.png)

[2022-05-31 11:34] angelik0828 commented on #146
Everything has been checked!

[2022-05-31 11:41] angelik0828 commented on #142
Everything has been checked!

[2022-05-31 11:43] angelik0828 commented on #141
Everything has been checked!

[2022-05-31 11:44] angelik0828 commented on #141
![image](https://user-images.githubusercontent.com/4030477/171165557-b9e2224f-5ec8-4c0b-b152-f41f964e9569.png)

[2022-05-31 11:46] angelik0828 commented on #137
![image](https://user-images.githubusercontent.com/4030477/171165810-b4207d79-f113-44d3-9542-69626b723ce5.png)

[2022-05-31 11:50] angelik0828 commented on #133
![image](https://user-images.githubusercontent.com/4030477/171166151-b5dd5faf-72e3-4145-80ce-def1e50cd505.png)

[2022-05-31 13:44] #146 closed

[2022-05-31 13:53] #133 closed

[2022-05-31 13:53] #136 closed

[2022-05-31 13:53] #137 closed

[2022-05-31 20:12] #184 closed

[2022-05-31 20:12] #183 closed

[2022-05-31 20:12] #185 closed

[2022-05-31 20:12] #186 closed

[2022-05-31 20:16] #180 closed

[2022-05-31 20:16] #181 closed

[2022-05-31 20:19] angelik0828 commented on #154
@AdrianFagilde Can this be checked now?

[2022-05-31 20:25] angelik0828 commented on #132
@arodriguezl9302 Can this be checked now?

[2022-05-31 20:28] angelik0828 commented on #98
![image](https://user-images.githubusercontent.com/4030477/171278857-3640e8db-fed1-4340-b767-bedc93eded91.png)

[2022-05-31 20:29] e-azocar commented on #132
I think he didn't fix it

[2022-05-31 20:31] angelik0828 commented on #103
@mdrianislam0or1 yes it's ready!!

[2022-05-31 20:39] #115 closed

[2022-05-31 20:40] #105 closed

[2022-05-31 20:46] #102 closed

[2022-05-31 20:48] #98 closed

[2022-05-31 20:49] #117 closed

[2022-05-31 20:49] #147 closed

[2022-05-31 20:49] #168 closed

[2022-05-31 20:49] #169 closed

[2022-05-31 20:51] #157 closed

[2022-05-31 20:51] #153 closed

[2022-05-31 20:51] #151 closed

[2022-05-31 20:51] #143 closed

[2022-05-31 20:53] #182 closed

[2022-05-31 20:53] #177 closed

[2022-05-31 20:53] roberto-97c commented on #118
![image](https://user-images.githubusercontent.com/103531307/171282469-7990d372-0c95-4f0c-a77e-9a8abb75d89b.png)

[2022-05-31 20:53] #175 closed

[2022-05-31 20:53] #174 closed

[2022-05-31 20:53] #165 closed

[2022-05-31 20:53] #155 closed

[2022-05-31 20:55] #152 closed

[2022-05-31 20:55] #142 closed

[2022-05-31 20:57] #141 closed

[2022-05-31 21:00] angelik0828 commented on #132
I'm pending

[2022-05-31 21:03] angelik0828 commented on #130
![image](https://user-images.githubusercontent.com/4030477/171283951-3d9ddc2d-8bf8-496e-a2c9-a325c07cb560.png)

[2022-05-31 21:05] angelik0828 commented on #113
![image](https://user-images.githubusercontent.com/4030477/171284298-25e80745-a7e1-49c1-b5c9-9c199106e1e6.png)

[2022-05-31 21:08] angelik0828 commented on #111
@arodriguezl9302 this can be verified

[2022-05-31 21:10] #130 closed

[2022-05-31 21:11] angelik0828 commented on #97
![image](https://user-images.githubusercontent.com/4030477/171285056-f936a749-5e54-4c56-9b85-ab4720d85f4a.png)

[2022-05-31 21:14] #113 closed

[2022-05-31 21:14] #97 closed

[2022-05-31 21:17] angelik0828 commented on #112
![image](https://user-images.githubusercontent.com/4030477/171285969-b6fcffbf-d36d-42bb-ab22-c2f45bd5e5bc.png)

[2022-05-31 21:18] #112 closed

[2022-06-01 02:30] AdrianFagilde commented on #154
I have not done it yet, this week I will solve it.

[2022-06-01 02:44] AdrianFagilde opened #187 "Cuando no hay Lanzamientos y Paquetes."

[2022-06-01 02:45] #187 closed

[2022-06-01 02:59] AdrianFagilde commented on #154
@Israel-Laguan  Good night, Mr. Israel, only you can make this changes in your repository, to be able to solve this tasks.

In the images are the steps to make all the changes you requested in the task.
![image](https://user-images.githubusercontent.com/65044786/171318807-b10d79c8-ce08-4264-b1b8-36a4df9428c1.png)
![image](https://user-images.githubusercontent.com/65044786/171318913-ff1b0db7-f776-4

[2022-06-01 11:04] mdrianislam0or1 commented on #103
@angelik0828 what is the expected solution?Explain Clearly.

[2022-06-01 12:57] Israel-Laguan commented on #154
@AdrianFagilde Ah sorry for the misunderstanding, the task here is to deploy this site. Notice is only an HTML. What do you think of using gh-pages to deploy it?

[2022-06-02 22:59] AdrianFagilde commented on #154
@Israel-Laguan  Hello, yes it seems to me the best option, I am going to do the deploy tonight with gh-pages

[2022-06-06 05:55] Israel-Laguan commented on #103
I think the issue is invalid. The QA originally mentioned the repo mentioned doesn't have a proper Readme, but that is not in us to change as we don't have access to that repo.

@angelik0828 will close this issue.

[2022-06-06 05:55] #103 closed

[2022-06-06 06:01] Israel-Laguan commented on #119
@angelik0828 I think each repo have to be separated in a new issue so a developer can concentrate in each repo

[2022-06-06 06:01] Israel-Laguan commented on #119
I suggest EE-3 as deploying is not always easy hehe

@hector-trompis please talk with others to confirm EE assigned here

[2022-06-06 06:03] Israel-Laguan commented on #121
@angelik0828 @hector-trompis Please check this conflict

[2022-06-06 06:05] Israel-Laguan commented on #127
This was not code from me, it is a fork, so changing it is no priority at all.

Will close this issue

CC: @hector-trompis

[2022-06-06 06:05] #127 closed

[2022-06-06 06:07] Israel-Laguan commented on #132
If one dev will fix all the repos, I would consider increasing estimation point to EE-3

@hector-trompis please coordinate on this

[2022-06-06 13:59] hector-trompis commented on #116
passed to administration

[2022-06-06 15:03] #110 closed

[2022-06-08 13:45] Coolhatena commented on #132
@Israel-Laguan I'm going to take this issue, so, if i solve the problem in all the listed repos the estimation will increase to EE-3?

[2022-06-08 13:51] hector-trompis commented on #132
Yes sir. So the stress estimate is 3.

[2022-06-08 16:38] Coolhatena commented on #125
Done! The link cannot be opened from README.md because its only available locally during development, but i changed the style of the link to something more sober to avoid confusion.

I already sent the pull request with the solution: https://github.com/TheRandomCrew/react-cra-ts-testing-practice/pull/6

[2022-06-08 17:40] Coolhatena commented on #132
Done! ive sent the pull request to all the listed repos, im waiting for the approval

[2022-06-10 12:00] angelik0828 commented on #132
![image](https://user-images.githubusercontent.com/4030477/173059662-38612e3f-60b4-4c5a-96e9-9a538da85cbe.png)
I already checked all the repositories,  Fixed!!!

[2022-06-10 12:36] angelik0828 commented on #125
![image](https://user-images.githubusercontent.com/4030477/173065374-28fe450c-9b41-4965-9134-895612e03fc9.png)
fixed!!

[2022-06-10 12:42] angelik0828 commented on #154
fixed!!

[2022-06-10 17:41] Coolhatena commented on #125
Could someone please change this issue to EE-3 as we agreed?

[2022-06-10 17:42] Coolhatena commented on #132
Could someone please change this issue to EE-3 as we agreed?

[2022-06-13 17:09] angelik0828 commented on #132
yes @hector-trompis  did I mention that yes don't worry

[2022-06-13 18:03] #125 closed

[2022-06-13 18:06] #132 closed

[2022-06-13 18:09] #154 closed

[2022-06-14 01:31] Coolhatena commented on #111
The link `http://localhost:3000` is not in the readme document of the repo, has this issue already been solved?

[2022-06-14 06:04] Israel-Laguan commented on #111
Seems like in this case it should be ADDED hehe You can copy the instructions to run in dev environment here from other repo

[2022-06-15 15:21] angelik0828 commented on #111
![image](https://user-images.githubusercontent.com/4030477/173864679-a349c19d-242f-4114-b864-34b1d8c0128b.png)

[2022-06-15 23:01] e-azocar commented on #111
@hector-trompis issue fixed